#pen_bottom {
	color: #fefefe;
	font-size: 0.857em;
	margin: 1rem 0 0;
	padding: 2rem;
	position: relative;
	z-index: 100;
}
#pen_bottom.pen_not_transparent {
	background: #1f1f1f;
}
body.pen_drop_shadow #pen_bottom {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
}
body.pen_drop_shadow #pen_bottom.pen_not_transparent {
	box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 0 5px rgba(0,0,0,0.25);
}
body.pen_round_corners #pen_bottom.pen_not_transparent {
	border-radius: 5px 5px 0 0;
}
body.pen_round_corners.pen_width_standard #pen_bottom,
body.pen_round_corners.pen_width_wide #pen_bottom {
	border-radius: 0 !important;
}
#pen_bottom a {
	color: #00a1f2;
}
#pen_bottom a:focus,
#pen_bottom a:hover,
#pen_bottom a:active {
	text-decoration: none;
}
#page #pen_bottom label {
	color: #aaa;
}
#pen_bottom input[type="date"],
#pen_bottom input[type="datetime"],
#pen_bottom input[type="datetime-local"],
#pen_bottom input[type="email"],
#pen_bottom input[type="month"],
#pen_bottom input[type="number"],
#pen_bottom input[type="password"],
#pen_bottom input[type="search"],
#pen_bottom input[type="tel"],
#pen_bottom input[type="text"],
#pen_bottom input[type="time"],
#pen_bottom input[type="url"],
#pen_bottom input[type="week"],
#pen_bottom select,
#pen_bottom textarea {
	background: linear-gradient(to bottom, #1f1f1f 0%, #2f2f2f 100%);
	color: #ccc;
}
#pen_bottom option {
	background: #1f1f1f;
}
#pen_bottom input::-webkit-input-placeholder,
#pen_bottom select::-webkit-input-placeholder,
#pen_bottom textarea::-webkit-input-placeholder {
	color: #ccc;
}
#pen_bottom input::-moz-placeholder,
#pen_bottom select::-moz-placeholder,
#pen_bottom textarea::-moz-placeholder {
	color: #ccc;
}
#pen_bottom input:-ms-input-placeholder,
#pen_bottom select:-ms-input-placeholder,
#pen_bottom textarea:-ms-input-placeholder {
	color: #ccc;
}
#pen_bottom .widget {
	float: left;
	width: 100%;
}
@media only screen and (min-width:728px) {
	#pen_bottom .widget:nth-child(1):nth-last-child(5),
	#pen_bottom .widget:nth-child(2):nth-last-child(4),
	#pen_bottom .widget:nth-child(3):nth-last-child(3),
	#pen_bottom .widget:nth-child(4):nth-last-child(2),
	#pen_bottom .widget:nth-child(5):nth-last-child(1) {
		margin-left: 1%;
		margin-right: 1%;
		width: 18%;
	}
	#pen_bottom .widget:nth-child(1):nth-last-child(4),
	#pen_bottom .widget:nth-child(2):nth-last-child(3),
	#pen_bottom .widget:nth-child(3):nth-last-child(2),
	#pen_bottom .widget:nth-child(4):nth-last-child(1) {
		margin-left: 1%;
		margin-right: 1%;
		width: 23%;
	}
	#pen_bottom .widget:nth-child(1):nth-last-child(3),
	#pen_bottom .widget:nth-child(2):nth-last-child(2),
	#pen_bottom .widget:nth-child(3):nth-last-child(1) {
		margin-left: 1%;
		margin-right: 1%;
		width: 31.33%;
	}
	#pen_bottom .widget:nth-child(1):nth-last-child(2),
	#pen_bottom .widget:nth-child(2):nth-last-child(1) {
		margin-left: 1%;
		margin-right: 1%;
		width: 47.9%;
	}
}
#pen_bottom .widget .widget-title,
#pen_bottom .widget_block h2 {
	margin-top: 0;
}
#pen_bottom .widget.pen_widget_dark .widget-title,
#pen_bottom .widget.pen_widget_light .widget-title,
#pen_bottom .widget_block.pen_widget_dark h2,
#pen_bottom .widget_block.pen_widget_light h2 {
	padding: 0.5rem 1rem !important;
}
#pen_bottom .widget ul {
	margin: 0;
	padding: 0 0 0 1rem;
}
#pen_bottom ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#pen_bottom ul.menu:before {
	background: linear-gradient(180deg, rgba(120,120,120,0) 0%, rgba(120,120,120,0.2) 50%, rgba(120,120,120,0) 100%);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 1px;
}
#pen_bottom ul.menu a {
	display: block;
	padding: 0.5rem 2rem;
}
