#pen_navigation.pen_not_transparent,
#pen_navigation_mobile {
	background: #00a9ff;
	background: linear-gradient(125deg, #00a9ff 0%,#093a89 100%);
}
#pen_navigation,
#pen_navigation_mobile {
	color: #fff;
	float: left;
	line-height: 1;
	position: relative;
	width: 100%;
	z-index: 1;
}
#pen_navigation ul#primary-menu ul,
#pen_navigation_mobile ul#primary-menu-mobile ul {
	background: #004d98;
	background: linear-gradient(125deg, #004d98 0%,#093a89 100%);
}
body.pen_drop_shadow #pen_navigation li.page_item_has_children > ul,
body.pen_drop_shadow #pen_navigation li.menu-item-has-children > ul {
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
body.pen_drop_shadow #pen_navigation ul#primary-menu a,
body.pen_drop_shadow #pen_navigation_mobile ul#primary-menu-mobile a,
body.pen_drop_shadow #pen_navigation_mobile .widget-area a {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
#pen_navigation_mobile {
	z-index: 450;
}
body.pen_round_corners.pen_width_boxed #pen_header.pen_navigation_show .pen_header_inner,
body.pen_round_corners.pen_width_narrow #pen_header.pen_navigation_show .pen_header_inner {
	border-radius: 0 0 7px 7px;
}
body.pen_round_corners.pen_width_boxed #pen_navigation,
body.pen_round_corners.pen_width_narrow #pen_navigation,
body.pen_round_corners.pen_width_boxed #pen_navigation:after,
body.pen_round_corners.pen_width_narrow #pen_navigation:after,
body.pen_round_corners #pen_navigation ul#primary-menu ul,
body.pen_round_corners #pen_navigation ul#primary-menu li li:last-child > a {
	border-radius: 0 0 5px 5px;
}
body.pen_round_corners #pen_header.pen_search_show_toolbar #pen_navigation {
	border-radius: 0 !important;
}
#pen_navigation,
#pen_navigation ul#primary-menu,
#pen_navigation ul#primary-menu ul,
#pen_navigation ul#primary-menu li {
	margin: 0;
	padding: 0;
}
#pen_navigation ul#primary-menu li {
	position: relative;
}
#pen_navigation ul#primary-menu,
#pen_navigation ul#primary-menu li {
	float: left;
	list-style: none;
}
#pen_navigation ul#primary-menu {
	padding: 0;
	width: 100%;
}
#pen_navigation ul#primary-menu li.pen_menu_create a:before,
#pen_navigation_mobile ul#primary-menu-mobile li.pen_menu_create a:before {
	content: '\f067';
	display: inline-block;
	font-family: 'FontAwesome';
	font-weight: normal;
	margin-right: 0.5em;
}
#pen_navigation li.page_item_has_children > ul,
#pen_navigation li.menu-item-has-children > ul {
	display: none;
	left: 0;
	position: absolute;
	top: 100%;
	z-index: 120;
}
#pen_navigation li li.page_item_has_children > ul,
#pen_navigation li li.menu-item-has-children > ul {
	left: 100%;
	top: 0;
}
#pen_navigation li.page_item_has_children > ul li,
#pen_navigation li.menu-item-has-children > ul li {
	float: left;
	white-space: nowrap;
	min-width: 14em;
	width: 100%;
}
#pen_navigation ul#primary-menu li:hover > ul,
#pen_navigation ul#primary-menu li.sfHover > ul {
	display: block;
}
#pen_navigation ul#primary-menu a,
#pen_navigation_mobile ul#primary-menu-mobile a,
#pen_navigation_mobile .widget-area a {
	color: #c5e2ff;
	float: left;
	font-size: 1.143em;
	padding: 1em 1.5em;
	position: relative;
	text-decoration: none;
	transition: background-color .2s, color .2s, opacity .5s;
	width: 100%;
}
body.pen_header_sticky_minimize #pen_header #pen_navigation ul#primary-menu a {
	transition: background-color .2s, color .2s, font-size .3s, opacity .5s;
}
body.pen_header_sticky_minimize #pen_header.pen_header_sticked #pen_navigation ul#primary-menu a {
	font-size: 1em;
}
#pen_navigation ul#primary-menu li li a {
	font-size: 1em;
	padding: 1.25em 2em;
	position: relative;
}
#pen_navigation ul#primary-menu li.sfHover > a,
#pen_navigation ul#primary-menu a:focus,
#pen_navigation ul#primary-menu a:hover,
#pen_navigation ul#primary-menu a:active {
	color: #fff;
	outline: none;
	text-decoration: none;
}
#pen_navigation ul#primary-menu li li > a:focus,
#pen_navigation ul#primary-menu li li > a:hover,
#pen_navigation ul#primary-menu li li > a:active,
#pen_navigation ul#primary-menu li li.sfHover > a,
#pen_navigation_mobile ul#primary-menu-mobile li.pen_active > a {
	background: rgba(0,0,0,0.1);
	text-decoration: none;
}
#pen_navigation.pen_separator_1 ul#primary-menu > li:after {
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.9) 50%, rgba(0,0,0,0) 100%);
	content: '';
	height: 50%;
	opacity: 0.4;
	position: absolute;
	right: -3px;
	top: 25%;
	transform: rotate(-20deg);
	width: 1px;
}
#pen_navigation.pen_separator_2 ul#primary-menu > li:after {
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.9) 50%, rgba(0,0,0,0) 100%);
	content: '';
	height: 50%;
	opacity: 0.4;
	position: absolute;
	right: -3px;
	top: 25%;
	transform: rotate(20deg);
	width: 1px;
}
#pen_navigation.pen_separator_3 ul#primary-menu > li:after {
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.9) 50%, rgba(0,0,0,0) 100%);
	content: '';
	height: 50%;
	opacity: 0.4;
	position: absolute;
	right: -2px;
	top: 25%;
	width: 1px;
}
#pen_navigation.pen_separator_submenu_1 ul#primary-menu li li:after,
#pen_navigation.pen_separator_submenu_2 ul#primary-menu li li:after,
#pen_navigation.pen_separator_submenu_3 ul#primary-menu li li:after,
#pen_navigation_mobile nav.pen_separator_submenu_1 ul#primary-menu-mobile li:after,
#pen_navigation_mobile nav.pen_separator_submenu_2 ul#primary-menu-mobile li:after,
#pen_navigation_mobile nav.pen_separator_submenu_3 ul#primary-menu-mobile li:after {
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%);
	content: '';
	height: 1px;
	left: 0;
	opacity: 0.3;
	position: absolute;
	top: 0;
	width: 100%;
}
#pen_navigation_mobile nav.pen_separator_submenu_1 ul#primary-menu-mobile li:after,
#pen_navigation_mobile nav.pen_separator_submenu_2 ul#primary-menu-mobile li:after,
#pen_navigation_mobile nav.pen_separator_submenu_3 ul#primary-menu-mobile li:after {
	left: 1rem;
}
#pen_navigation.pen_separator_submenu_2 ul#primary-menu li li:after,
#pen_navigation_mobile nav.pen_separator_submenu_2 ul#primary-menu-mobile li:after {
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}
#pen_navigation.pen_separator_submenu_3 ul#primary-menu li li:after,
#pen_navigation_mobile nav.pen_separator_submenu_3 ul#primary-menu-mobile li:after {
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
}
#pen_navigation_mobile nav.pen_separator_submenu_1 ul#primary-menu-mobile li:first-child:after,
#pen_navigation_mobile nav.pen_separator_submenu_2 ul#primary-menu-mobile li:first-child:after,
#pen_navigation_mobile nav.pen_separator_submenu_3 ul#primary-menu-mobile li:first-child:after {
	display: none;
}
#pen_navigation.pen_separator_4 ul#primary-menu > li:after {
	background: #000;
	content: '';
	height: 40%;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 30%;
	width: 2px;
}
#pen_navigation.pen_separator_submenu_4 ul#primary-menu li li:after,
#pen_navigation_mobile nav.pen_separator_submenu_4 ul#primary-menu-mobile li:after {
	background: #000;
	content: '';
	height: 2px;
	left: 5%;
	opacity: 0.3;
	position: absolute;
	top: 0;
	width: 90%;
}
#pen_navigation_mobile nav.pen_separator_submenu_4 ul#primary-menu-mobile li:first-child:after {
	display: none;
}
#pen_navigation.pen_separator_5 ul#primary-menu > li:after {
	background: #000;
	content: '';
	height: 100%;
	opacity: 0.25;
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
}
#pen_navigation.pen_separator_6 ul#primary-menu > li:after,
#pen_navigation.pen_separator_6 ul#primary-menu > li:before {
	background: #000;
	content: '';
	height: 100%;
	opacity: 0.25;
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
}
#pen_navigation.pen_separator_6 ul#primary-menu > li:first-child:before,
body.pen_navigation_alignment_right #pen_navigation.pen_separator_6 ul#primary-menu > li:last-child:before {
	left: 0;
	right: auto;
}
body.pen_navigation_alignment_right #pen_navigation.pen_separator_6 ul#primary-menu > li:first-child:before {
	left: auto;
	right: 0;
}
#pen_navigation.pen_separator_submenu_5 ul#primary-menu li li:after,
#pen_navigation.pen_separator_submenu_6 ul#primary-menu li li:after,
#pen_navigation_mobile nav.pen_separator_submenu_5 ul#primary-menu-mobile li:after,
#pen_navigation_mobile nav.pen_separator_submenu_6 ul#primary-menu-mobile li:after {
	background: #000;
	content: '';
	height: 1px;
	left: 0;
	opacity: 0.3;
	position: absolute;
	top: 0;
	width: 100%;
}
#pen_navigation_mobile nav.pen_separator_submenu_5 ul#primary-menu-mobile li:after {
	left: 0.75rem;
}
#pen_navigation.pen_separator_submenu_6 ul#primary-menu li li:after,
#pen_navigation_mobile nav.pen_separator_submenu_6 ul#primary-menu-mobile li:after {
	left: 10%;
	width: 80%;
}
#pen_navigation.pen_separator_submenu_6 ul#primary-menu li li:first-child:after,
#pen_navigation_mobile nav.pen_separator_submenu_6 ul#primary-menu-mobile li:first-child:after {
	display: block;
}
#pen_navigation_mobile nav.pen_separator_submenu_5 ul#primary-menu-mobile li:first-child:after,
#pen_navigation_mobile nav.pen_separator_submenu_6 ul#primary-menu-mobile li:first-child:after {
	display: none;
}
#pen_navigation.pen_separator_7 ul#primary-menu > li:after {
	background: #000;
	border-radius: 50px;
	content: '';
	height: 10px;
	opacity: 0.25;
	position: absolute;
	right: -5px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}
#pen_navigation.pen_separator_submenu_7 ul#primary-menu li li:after,
#pen_navigation_mobile nav.pen_separator_submenu_7 ul#primary-menu-mobile li:after {
	background: #000;
	border-radius: 50px;
	content: '';
	height: 10px;
	left: 10px;
	opacity: 0.25;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}
#pen_navigation_mobile nav.pen_separator_submenu_7 ul#primary-menu-mobile li:after {
	left: 0.75rem;
	top: 1rem;
	transform: none;
}
#pen_navigation_mobile nav.pen_separator_submenu_7 ul#primary-menu-mobile li:first-child:after {
	display: none;
}
#pen_navigation.pen_separator_submenu_7 ul#primary-menu li li:first-child:after,
#pen_navigation_mobile nav.pen_separator_submenu_7 ul#primary-menu-mobile li:first-child:after {
	display: block;
}
#pen_navigation.pen_separator_8 ul#primary-menu > li:after {
	border: 3px solid #000;
	border-radius: 100px;
	content: '';
	height: 10px;
	opacity: 0.25;
	position: absolute;
	right: -5px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}
#pen_navigation.pen_separator_submenu_8 ul#primary-menu li li:after,
#pen_navigation_mobile nav.pen_separator_submenu_8 ul#primary-menu-mobile li:after {
	border: 3px solid #000;
	border-radius: 50px;
	content: '';
	height: 10px;
	left: 10px;
	opacity: 0.25;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}
#pen_navigation_mobile nav.pen_separator_submenu_8 ul#primary-menu-mobile li:after {
	left: 0.75rem;
	top: 1rem;
	transform: none;
}
#pen_navigation_mobile nav.pen_separator_submenu_8 ul#primary-menu-mobile li:first-child:after {
	display: none;
}
#pen_navigation.pen_separator_submenu_8 ul#primary-menu li li:first-child:after,
#pen_navigation_mobile nav.pen_separator_submenu_8 ul#primary-menu-mobile li:first-child:after {
	display: block;
}
#pen_navigation.pen_separator_9 ul#primary-menu > li:after {
	border: 3px solid #000;
	content: '';
	height: 10px;
	opacity: 0.25;
	position: absolute;
	right: 0;
	top: 50%;
	transform: rotate(45deg) translateY(calc(-50% - 2px));
	width: 10px;
}
#pen_navigation.pen_separator_submenu_9 ul#primary-menu li li:after,
#pen_navigation_mobile nav.pen_separator_submenu_9 ul#primary-menu-mobile li:after {
	border: 3px solid #000;
	content: '';
	height: 10px;
	left: 5px;
	opacity: 0.25;
	position: absolute;
	top: 50%;
	transform: rotate(45deg) translateY(calc(-50% - 2px));
	width: 10px;
}
#pen_navigation_mobile nav.pen_separator_submenu_9 ul#primary-menu-mobile li:after {
	left: 0.75rem;
	top: 1rem;
	transform: rotate(45deg) translateY(2px);
}
#pen_navigation_mobile nav.pen_separator_submenu_9 ul#primary-menu-mobile li:first-child:after {
	display: none;
}
#pen_navigation.pen_separator_10 ul#primary-menu > li:after {
	color: #000;
	content: '..';
	font-size: 2em;
	font-weight: bold;
	height: 20px;
	letter-spacing: -2px;
	line-height: 0;
	opacity: 0.25;
	position: absolute;
	right: -17px;
	text-align: center;
	top: 50%;
	transform: translate(-50%,calc(-50% - 2px)) rotate(90deg);
	width: 20px;
}
#pen_navigation.pen_separator_submenu_10 ul#primary-menu li li:after,
#pen_navigation_mobile nav.pen_separator_submenu_10 ul#primary-menu-mobile li:after {
	color: #000;
	content: '..';
	font-size: 2em;
	font-weight: bold;
	left: 1em;
	letter-spacing: -2px;
	line-height: 0;
	opacity: 0.25;
	position: absolute;
	text-align: center;
	top: -5px;
}
#pen_navigation.pen_separator_submenu_10 ul#primary-menu li li:first-child:after,
#pen_navigation_mobile nav.pen_separator_submenu_10 ul#primary-menu-mobile li:first-child:after,
body.pen_navigation_alignment_left #pen_navigation ul#primary-menu > li:last-child:after,
body.pen_navigation_alignment_center #pen_navigation ul#primary-menu > li:last-child:after,
body.pen_navigation_alignment_right #pen_navigation ul#primary-menu > li:first-child:after {
	display: none;
}
#pen_navigation.pen_separator_6 ul#primary-menu > li:first-child:after,
#pen_navigation.pen_separator_6 ul#primary-menu > li:last-child:after {
	display: block;
}
#pen_navigation.pen_hover_1 ul#primary-menu > li {
	padding: 1em;
}
#pen_navigation.pen_hover_1 ul#primary-menu > li > a {
	border-radius: 100px;
	padding: 0.5em 1em;
}
#pen_navigation.pen_hover_1 ul#primary-menu > li.sfHover > a,
#pen_navigation.pen_hover_1 ul#primary-menu > li > a:focus,
#pen_navigation.pen_hover_1 ul#primary-menu > li > a:hover,
#pen_navigation.pen_hover_1 ul#primary-menu > li > a:active,
#pen_navigation.pen_hover_1 ul#primary-menu > li.current-menu-item > a {
	background: rgba(0,0,0,0.2);
}
#pen_navigation.pen_hover_2 ul#primary-menu > li {
	padding: 1em;
}
#pen_navigation.pen_hover_2 ul#primary-menu > li > a {
	border-radius: 0;
	padding: 0.5em 1em;
}
#pen_navigation.pen_hover_2 ul#primary-menu > li.sfHover > a,
#pen_navigation.pen_hover_2 ul#primary-menu > li > a:focus,
#pen_navigation.pen_hover_2 ul#primary-menu > li > a:hover,
#pen_navigation.pen_hover_2 ul#primary-menu > li > a:active,
#pen_navigation.pen_hover_2 ul#primary-menu > li.current-menu-item > a {
	background: rgba(0,0,0,0.2);
}
#pen_navigation.pen_hover_3 ul#primary-menu > li > a:after {
	background: rgba(150,150,150,0.75);
	bottom: 0;
	content: '';
	height: 3px;
	left: 0;
	opacity: 0;
	position: absolute;
	transition: opacity .3s;
	width: 100%;
}
#pen_navigation.pen_hover_3 ul#primary-menu > li.sfHover > a:after,
#pen_navigation.pen_hover_3 ul#primary-menu > li > a:focus:after,
#pen_navigation.pen_hover_3 ul#primary-menu > li > a:hover:after,
#pen_navigation.pen_hover_3 ul#primary-menu > li > a:active:after,
#pen_navigation.pen_hover_3 ul#primary-menu > li.current-menu-item > a:after {
	opacity: 1;
}
#pen_navigation.pen_hover_4 ul#primary-menu > li > a:after {
	background: rgba(150,150,150,0.75);
	bottom: 0;
	content: '';
	height: 3px;
	left: 15%;
	opacity: 0;
	position: absolute;
	transition: opacity .3s;
	width: 70%;
}
#pen_navigation.pen_hover_4 ul#primary-menu > li.sfHover > a:after,
#pen_navigation.pen_hover_4 ul#primary-menu > li > a:focus:after,
#pen_navigation.pen_hover_4 ul#primary-menu > li > a:hover:after,
#pen_navigation.pen_hover_4 ul#primary-menu > li > a:active:after,
#pen_navigation.pen_hover_4 ul#primary-menu > li.current-menu-item > a:after {
	opacity: 1;
}
#pen_navigation.pen_hover_5 ul#primary-menu > li > a:after {
	background: rgba(150,150,150,0.75);
	border-radius: 5px 5px 0 0;
	bottom: 0;
	content: '';
	height: 3px;
	left: 15%;
	opacity: 0;
	position: absolute;
	transition: opacity .3s;
	width: 70%;
}
#pen_navigation.pen_hover_5 ul#primary-menu > li.sfHover > a:after,
#pen_navigation.pen_hover_5 ul#primary-menu > li > a:focus:after,
#pen_navigation.pen_hover_5 ul#primary-menu > li > a:hover:after,
#pen_navigation.pen_hover_5 ul#primary-menu > li > a:active:after,
#pen_navigation.pen_hover_5 ul#primary-menu > li.current-menu-item > a:after {
	opacity: 1;
}
#pen_navigation.pen_hover_6 ul#primary-menu > li > a:after {
	background: rgba(150,150,150,0.75);
	border-radius: 5px 5px 0 0;
	bottom: 0;
	content: '';
	height: 3px;
	left: 50%;
	opacity: 0;
	position: absolute;
	transition: opacity .3s;
	transform: translateX(-50%);
	width: 100px;
}
#pen_navigation.pen_hover_6 ul#primary-menu > li.sfHover > a:after,
#pen_navigation.pen_hover_6 ul#primary-menu > li > a:focus:after,
#pen_navigation.pen_hover_6 ul#primary-menu > li > a:hover:after,
#pen_navigation.pen_hover_6 ul#primary-menu > li > a:active:after,
#pen_navigation.pen_hover_6 ul#primary-menu > li.current-menu-item > a:after {
	opacity: 1;
}
#pen_navigation.pen_hover_7 ul#primary-menu > li > a:after {
	background: rgba(150,150,150,0.75);
	border-radius: 15px 15px 0 0;
	bottom: 0;
	content: '';
	height: 7px;
	left: 50%;
	opacity: 0;
	position: absolute;
	transition: opacity .3s;
	transform: translateX(-50%);
	width: 100px;
}
#pen_navigation.pen_hover_7 ul#primary-menu > li.sfHover > a:after,
#pen_navigation.pen_hover_7 ul#primary-menu > li > a:focus:after,
#pen_navigation.pen_hover_7 ul#primary-menu > li > a:hover:after,
#pen_navigation.pen_hover_7 ul#primary-menu > li > a:active:after,
#pen_navigation.pen_hover_7 ul#primary-menu > li.current-menu-item > a:after {
	opacity: 1;
}
#pen_navigation.pen_hover_8 ul#primary-menu > li > a:after {
	border: 10px solid transparent;
	border-top: 10px solid rgba(150,150,150,0.75);
	content: '';
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	transition: opacity .3s;
}
#pen_navigation.pen_hover_8 ul#primary-menu > li.sfHover > a:after,
#pen_navigation.pen_hover_8 ul#primary-menu > li > a:focus:after,
#pen_navigation.pen_hover_8 ul#primary-menu > li > a:hover:after,
#pen_navigation.pen_hover_8 ul#primary-menu > li > a:active:after,
#pen_navigation.pen_hover_8 ul#primary-menu > li.current-menu-item > a:after {
	opacity: 1;
}
#pen_navigation.pen_hover_9 ul#primary-menu > li > a:after {
	border: 10px solid transparent;
	border-bottom: 10px solid rgba(150,150,150,0.75);
	bottom: 0;
	content: '';
	left: 50%;
	opacity: 0;
	position: absolute;
	transform: translateX(-50%);
	transition: opacity .3s;
}
#pen_navigation.pen_hover_9 ul#primary-menu > li.sfHover > a:after,
#pen_navigation.pen_hover_9 ul#primary-menu > li > a:focus:after,
#pen_navigation.pen_hover_9 ul#primary-menu > li > a:hover:after,
#pen_navigation.pen_hover_9 ul#primary-menu > li > a:active:after,
#pen_navigation.pen_hover_9 ul#primary-menu > li.current-menu-item > a:after {
	opacity: 1;
}
#pen_navigation.pen_hover_10 ul#primary-menu > li > a:after {
	background: #000;
	border-radius: 50px 50px 0 0;
	bottom: 0;
	content: '';
	height: 5px;
	left: 50%;
	opacity: 0;
	position: absolute;
	transform: translateX(-50%);
	transition: opacity .3s;
	width: 80%;
}
#pen_navigation.pen_hover_10 ul#primary-menu > li.sfHover > a:after,
#pen_navigation.pen_hover_10 ul#primary-menu > li > a:focus:after,
#pen_navigation.pen_hover_10 ul#primary-menu > li > a:hover:after,
#pen_navigation.pen_hover_10 ul#primary-menu > li > a:active:after,
#pen_navigation.pen_hover_10 ul#primary-menu > li.current-menu-item > a:after {
	opacity: 0.5;
}
#pen_navigation ul#primary-menu.sf-arrows .sf-with-ul {
	padding-right: 2.5em !important;
}
#pen_navigation ul#primary-menu.sf-arrows .sf-with-ul:before,
#pen_navigation_mobile li.pen_parent > a:before {
	content: '\f107';
	font-family: 'FontAwesome';
	font-weight: normal;
	opacity: 0.5;
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
}
#pen_navigation_mobile li.pen_parent > a:before {
	right: 2rem;
}
#pen_navigation ul#primary-menu.sf-arrows > li > a.sf-with-ul:focus:before,
#pen_navigation ul#primary-menu.sf-arrows > li:hover > a.sf-with-ul:before,
#pen_navigation ul#primary-menu.sf-arrows > li.sfHover > a.sf-with-ul:before {
	opacity: 0.9;
}
#pen_navigation ul#primary-menu.sf-arrows ul li a.sf-with-ul:before {
	content: '\f105';
}
#pen_navigation ul#primary-menu.sf-arrows ul li a.sf-with-ul:focus:before,
#pen_navigation ul#primary-menu.sf-arrows ul li:hover > a.sf-with-ul:before,
#pen_navigation ul#primary-menu.sf-arrows ul li.sfHover > a.sf-with-ul:before {
	opacity: 0.9;
}
#pen_navigation.pen_arrows_1 ul#primary-menu.sf-arrows .sf-with-ul:before,
#pen_navigation_mobile nav.pen_arrows_1 li.pen_parent > a:before {
	content: '\f107';
}
#pen_navigation.pen_arrows_1 ul#primary-menu.sf-arrows ul li a.sf-with-ul:before {
	content: '\f105';
}
#pen_navigation.pen_arrows_2 ul#primary-menu.sf-arrows .sf-with-ul:before,
#pen_navigation_mobile nav.pen_arrows_2 li.pen_parent > a:before {
	content: '\f103';
}
#pen_navigation.pen_arrows_2 ul#primary-menu.sf-arrows ul li a.sf-with-ul:before {
	content: '\f101';
}
#pen_navigation.pen_arrows_3 ul#primary-menu.sf-arrows .sf-with-ul:before,
#pen_navigation_mobile nav.pen_arrows_3 li.pen_parent > a:before {
	content: '\f0ab';
}
#pen_navigation.pen_arrows_3 ul#primary-menu.sf-arrows ul li a.sf-with-ul:before {
	content: '\f0a9';
}
#pen_navigation.pen_arrows_4 ul#primary-menu.sf-arrows .sf-with-ul:before,
#pen_navigation_mobile nav.pen_arrows_4 li.pen_parent > a:before {
	content: '\f01a';
}
#pen_navigation.pen_arrows_4 ul#primary-menu.sf-arrows ul li a.sf-with-ul:before {
	content: '\f18e';
}
#pen_navigation.pen_arrows_5 ul#primary-menu.sf-arrows .sf-with-ul:before,
#pen_navigation_mobile nav.pen_arrows_5 li.pen_parent > a:before {
	content: '\f063';
}
#pen_navigation.pen_arrows_5 ul#primary-menu.sf-arrows ul li a.sf-with-ul:before {
	content: '\f061';
}
#pen_navigation.pen_arrows_6 ul#primary-menu.sf-arrows .sf-with-ul:before,
#pen_navigation_mobile nav.pen_arrows_6 li.pen_parent > a:before {
	content: '\f0d7';
}
#pen_navigation.pen_arrows_6 ul#primary-menu.sf-arrows ul li a.sf-with-ul:before {
	content: '\f0da';
}
#pen_navigation.pen_arrows_7 ul#primary-menu.sf-arrows .sf-with-ul:before,
#pen_navigation_mobile nav.pen_arrows_7 li.pen_parent > a:before {
	content: '\f150';
}
#pen_navigation.pen_arrows_7 ul#primary-menu.sf-arrows ul li a.sf-with-ul:before {
	content: '\f152';
}
#pen_navigation.pen_arrows_8 ul#primary-menu.sf-arrows .sf-with-ul:before,
#pen_navigation_mobile nav.pen_arrows_8 li.pen_parent > a:before {
	content: '\f078';
}
#pen_navigation.pen_arrows_8 ul#primary-menu.sf-arrows ul li a.sf-with-ul:before {
	content: '\f054';
}
#pen_navigation.pen_arrows_9 ul#primary-menu.sf-arrows .sf-with-ul:before,
#pen_navigation_mobile nav.pen_arrows_9 li.pen_parent > a:before {
	content: '\f175';
}
#pen_navigation.pen_arrows_9 ul#primary-menu.sf-arrows ul li a.sf-with-ul:before {
	content: '\f178';
}
#pen_navigation.pen_arrows_10 ul#primary-menu.sf-arrows .sf-with-ul:before,
#pen_navigation_mobile nav.pen_arrows_10 li.pen_parent > a:before {
	content: '\f13a';
}
#pen_navigation.pen_arrows_10 ul#primary-menu.sf-arrows ul li a.sf-with-ul:before {
	content: '\f138';
}
body.pen_navigation_alignment_right #pen_navigation ul#primary-menu > li {
	float: right;
}
body.pen_navigation_alignment_center #pen_navigation ul#primary-menu {
	text-align: center;
}
body.pen_navigation_alignment_center #pen_navigation ul#primary-menu > li {
	float: none;
	display: inline-block;
}
#pen_navigation ul#primary-menu:hover > li > a {
	opacity: 0.75;
}
#pen_navigation ul#primary-menu:hover > li.sfHover > a,
#pen_navigation ul#primary-menu:hover > li > a:focus,
#pen_navigation ul#primary-menu:hover > li > a:hover,
#pen_navigation ul#primary-menu:hover > li > a:active {
	opacity: 1;
}
body.pen_navigation_mobile_sticked #pen_navigation_mobile {
	z-index: 50001;
}
@media only screen and (min-width:1024px) {
	body.pen_padding_navigation_small #pen_navigation {
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
	body.pen_padding_navigation_small_bottom #pen_navigation {
		padding-bottom: 10rem;
		padding-top: 1rem;
	}
	body.pen_padding_navigation_small_top #pen_navigation {
		padding-bottom: 1rem;
		padding-top: 10rem;
	}
	body.pen_padding_navigation_medium #pen_navigation {
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
	}
	body.pen_padding_navigation_medium_bottom #pen_navigation {
		padding-bottom: 15rem;
		padding-top: 1.5rem;
	}
	body.pen_padding_navigation_medium_top #pen_navigation {
		padding-bottom: 1.5rem;
		padding-top: 15rem;
	}
	body.pen_padding_navigation_big #pen_navigation {
		padding-bottom: 2.5rem;
		padding-top: 2.5rem;
	}
	body.pen_padding_navigation_big_bottom #pen_navigation {
		padding-bottom: 25rem;
		padding-top: 2.5rem;
	}
	body.pen_padding_navigation_big_top #pen_navigation {
		padding-bottom: 2.5rem;
		padding-top: 25rem;
	}
	body.pen_padding_navigation_small #pen_header.pen_header_sticked #pen_navigation,
	body.pen_padding_navigation_small_bottom #pen_header.pen_header_sticked #pen_navigation,
	body.pen_padding_navigation_small_top #pen_header.pen_header_sticked #pen_navigation {
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
	}
	body.pen_padding_navigation_medium #pen_header.pen_header_sticked #pen_navigation,
	body.pen_padding_navigation_medium_bottom #pen_header.pen_header_sticked #pen_navigation,
	body.pen_padding_navigation_medium_top #pen_header.pen_header_sticked #pen_navigation {
		padding-bottom: 0.75rem;
		padding-top: 0.75rem;
	}
	body.pen_padding_navigation_big #pen_header.pen_header_sticked #pen_navigation,
	body.pen_padding_navigation_big_bottom #pen_header.pen_header_sticked #pen_navigation,
	body.pen_padding_navigation_big_top #pen_header.pen_header_sticked #pen_navigation {
		padding-bottom: 1.25rem;
		padding-top: 1.25rem;
	}
}
#pen_navigation_mobile {
	border: 0 none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	position: static;
}
#pen_navigation_mobile.pen_expanded {
	height: 100%;
	left: 0;
	max-height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}
#pen_navigation_mobile ul#primary-menu-mobile {
	max-height: 90vh;
	overflow: hidden;
	overflow-y: auto;
	position: relative;
	width: 100%;
}
#pen_navigation_mobile ul#primary-menu-mobile,
#pen_navigation_mobile ul#primary-menu-mobile ul,
#pen_navigation_mobile ul#primary-menu-mobile li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
body.invisible-sidebar-mobile-menu-top #pen_navigation_mobile ul#primary-menu-mobile {
	padding-top: 1rem;
}
#pen_navigation_mobile ul#primary-menu-mobile li a {
	float: left;
	padding: 1em 1em 1em 2em;
	width: 100%;
}
#pen_navigation_mobile ul#primary-menu-mobile li ul {
	padding-left: 1em;
}
#pen_mobile_menu_bottom,
#pen_mobile_menu_top {
	display: none;
}
#pen_navigation_mobile #pen_mobile_menu_top,
#pen_navigation_mobile #pen_mobile_menu_bottom {
	display: block;
	float: left;
	padding: 1rem;
	width: 100%;
}
#pen_navigation_mobile_toggle {
	background: #000;
	color: #fff;
	float: right;
	font-weight: bold;
	padding: 1rem;
	position: relative;
	text-align: right;
	text-decoration: none;
	transition: top .3s;
	width: 100%;
	z-index: 100;
}
#pen_navigation_mobile_toggle span.pen_text {
	font-size: 1.285em;
	opacity: 0.75;
	position: absolute;
	right: 3rem;
	text-transform: uppercase;
	top: 50%;
	transform: translateY(-50%);
	transition: right .3s;
}
#pen_navigation_mobile_toggle.pen_active span.pen_text {
	rigth: 4.5rem;
}
#pen_navigation_mobile_toggle span.pen_icon {
	display: inline-block;
	height: 1rem;
	opacity: 0.5;
	position: relative;
	transition: transform .3s;
	width: 1.25rem;
}
#pen_navigation_mobile_toggle span.pen_icon span {
	background: #fff;
	border-radius: 50px;
	height: 0.125rem;
	left: 0;
	position: absolute;
	transform-origin: center center;
	transition: left .3s, min-width .3s, opacity .1s, right .3s, top .3s, transform .3s;
	width: 100%;
}
#pen_navigation_mobile_toggle span.pen_icon span:nth-child(1) {
	top: 0;
}
#pen_navigation_mobile_toggle span.pen_icon span:nth-child(2),
#pen_navigation_mobile_toggle span.pen_icon span:nth-child(3) {
	top: 50%;
	transform: translateY(-50%);
}
#pen_navigation_mobile_toggle span.pen_icon span:nth-child(4) {
	top: 0.875rem;
}
#pen_navigation_mobile_toggle.pen_active span.pen_icon span:nth-child(1),
#pen_navigation_mobile_toggle.pen_active span.pen_icon span:nth-child(4) {
	opacity: 0;
	top: 50%;
	transform: translateY(-50%);
}
#pen_navigation_mobile_toggle.pen_active span.pen_icon span:nth-child(2) {
	transform: translateY(-50%) rotate(45deg);
}
#pen_navigation_mobile_toggle.pen_active span.pen_icon span:nth-child(3) {
	transform: translateY(-50%) rotate(-45deg);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:before {
	border: 1px solid #000;
	border-radius: 50px;
	content: '';
	height: 24px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	z-index: 2;
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(1):before {
	background: linear-gradient(125deg, #00a9ff 0%, #000000 100%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(2):before {
	background: linear-gradient(125deg, #fb7c00 0%, #000000 100%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(3):before {
	background: linear-gradient(125deg, #00ac81 0%, #000000 100%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(4):before {
	background: linear-gradient(125deg, #4b00f2 0%, #000000 100%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(5):before {
	background: linear-gradient(125deg, #003078 0%, #000000 100%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(6):before {
	background: linear-gradient(125deg, #7f447f 0%, #000000 100%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(7):before {
	background: linear-gradient(125deg, #c00000 0%, #000000 100%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(8):before {
	background: linear-gradient(125deg, #df00d2 0%, #000000 100%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(9):before {
	background: linear-gradient(125deg, #8bcb00 0%, #000000 100%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(10):before {
	background: linear-gradient(125deg, #ffd800 0%, #000000 100%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(11):before {
	background: linear-gradient(125deg, #00d3cf 33%, #000000 34%, #000000 74%, #255d5b 75%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(12):before {
	background: linear-gradient(125deg, #00b7ff 33%, #000000 34%, #000000 74%, #555555 75%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(13):before {
	background: linear-gradient(125deg, #f07c45 33%, #000000 34%, #000000 74%, #ffffff 75%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(14):before {
	background: linear-gradient(125deg, #3c97de 33%, #00050a 34%, #00050a 74%, #ffca00 75%);
}
body.pen_theme_preview #primary-menu li.pen_color_schemes li:nth-child(15):before {
	background: linear-gradient(125deg, #ffed00 33%, #072b5f 34%, #072b5f 74%, #1a74cc 75%);
}
body.pen_theme_preview #primary-menu li:nth-child(16):before {
	background: linear-gradient(125deg, #fff 33%, #005ce4 34%, #005ce4 74%, #fff 75%);
}
body.pen_theme_preview #primary-menu li:nth-child(17):before {
	background: linear-gradient(125deg, #000 33%, #00a1ff 34%, #00a1ff 74%, #000 75%);
}
body.pen_theme_preview #primary-menu li:nth-child(18):before {
	background: linear-gradient(125deg, #0b3d5f 33%, #ff5a10 34%, #ff5a10 74%, #fff 75%);
}
body.pen_theme_preview #primary-menu li:nth-child(19):before {
	background: linear-gradient(125deg, #582841 33%, #cc2a49 34%, #cc2a49 74%, #ffd7df 75%);
}
body.pen_theme_preview #primary-menu li:nth-child(20):before {
	background: linear-gradient(125deg, #333 33%, #43008c 34%, #43008c 74%, #ffeb00 75%);
}
@media only screen and (min-width:1024px) {
	body.pen_theme_preview #primary-menu li.pen_color_schemes ul {
		width: 540px;
	}
	body.pen_theme_preview #primary-menu li.pen_color_schemes ul li {
		width: 50%;
	}
}