:root {
	color-scheme: light dark;
	supported-color-schemes: light dark;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	min-height: 100%;
}
body {
	background: #333;
}
#page {
	color: #fff;
}
a {
	color: #005ce4;
	text-decoration: none;
}
a,
a > span {
	transition: color .2s;
}
a:focus,
a:hover,
a:active {
	color: #005ce4;
	text-decoration: underline;
}
#page .sidebar a,
#pen_bottom a,
#pen_footer a {
	transition: background-color .2s, color .2s;
}
.wp-core-ui {
	color: #333;
}
.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html .clearfix {
	height: 1%;
}
*:first-child + html .clearfix {
	min-height: 1%;
}
#page a:focus,
#page a:active,
#page input:focus,
#page input:active {
	outline: none !important;
}

#pen_background_shards,
#pen_background_trianglify {
	height: 100%;
	left: 0;
	min-height: 100vh;
	min-width: 100vw;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
body.custom-background #pen_background_shards,
body.custom-background #pen_background_trianglify {
	display: none;
}
body.pen_background_lights_dim.pen_has_background_effect:before,
body.pen_background_lights_dim.pen_has_background_image:before {
	background: rgba(0,0,0,0.75) !important;
	content: '';
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
a#pen_back {
	background: #000;
	bottom: -0.5rem;
	color: #fff;
	opacity: 0.75;
	padding: 0.5rem 1rem 1rem;
	position: fixed;
	right: 1rem;
	transition: opacity .5s;
	z-index: 400;
}
body.pen_drop_shadow a#pen_back {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}
body.pen_round_corners a#pen_back {
	border-radius: 100px 100px 0 0;
}
a#pen_back:before {
	content: '\f102';
	font-family: 'FontAwesome';
	font-weight: normal;
}
a#pen_back:focus,
a#pen_back:hover,
a#pen_back:active {
	opacity: 1;
	outline: none;
	text-decoration: none;
}
img#wpstats {
	display: none;
}

.pen_element_hidden {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important;
	-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
.screen-reader-shortcut:focus {
	background: rgba(0,0,0,0.75);
	color: #fff;
	left: 0;
	top: 0;
	width: 100%;
}

#page .mejs-controls div.mejs-time-rail {
	max-width: 80%;
}
#page .mejs-controls a.mejs-horizontal-volume-slider {
	width: auto;
}

#page h1.pen_content_title .pen_heading_main {
	display: block;
	font-size: 0.857em;
	font-weight: normal;
	opacity: 0.75;
}
body.error404 header.pen_content_header h1.pen_content_title,
body.author header.pen_content_header h1.pen_content_title,
body.category header.pen_content_header h1.pen_content_title,
body.date header.pen_content_header h1.pen_content_title,
body.search header.pen_content_header h1.pen_content_title,
body.tag header.pen_content_header h1.pen_content_title {
	line-height: 1.1;
	position: relative;
}
body.error404 header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.author header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.category header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.date header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.search header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.tag header.pen_content_header h1.pen_content_title {
	padding-left: 105px !important;
}
body.error404 header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.author header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.category header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.date header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.search header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.tag header.pen_content_header h1.pen_content_title:before {
	background: linear-gradient(0deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.5) 100%);
	color: rgba(0,0,0,0.5);
	font-family: 'FontAwesome';
	font-size: 2rem;
	font-weight: normal;
	height: 78px;
	left: 5px;
	line-height: 1.5;
	margin: 0 0.5rem 0 0;
	padding: 15px 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 78px;
}
body.error404.pen_content_title_center header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.author.pen_list_title_center header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.category.pen_list_title_center header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.date.pen_list_title_center header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.search.pen_list_title_center header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.tag.pen_list_title_center header.pen_content_header h1.pen_content_title {
	padding-left: 0 !important;
}
body.error404.pen_content_title_center header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.author.pen_list_title_center header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.category.pen_list_title_center header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.date.pen_list_title_center header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.search.pen_list_title_center header.pen_content_header h1.pen_content_title,
body.pen_list_header_icon.tag.pen_list_title_center header.pen_content_header h1.pen_content_title {
	padding-top: 105px !important;
}
body.error404.pen_content_title_center header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.author.pen_list_title_center header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.category.pen_list_title_center header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.date.pen_list_title_center header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.search.pen_list_title_center header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.tag.pen_list_title_center header.pen_content_header h1.pen_content_title:before {
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
body.pen_drop_shadow.error404 header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.pen_drop_shadow.author header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.pen_drop_shadow.category header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.pen_drop_shadow.date header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.pen_drop_shadow.search header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.pen_drop_shadow.tag header.pen_content_header h1.pen_content_title:before {
	box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 0 5px rgba(0,0,0,0.25);
	text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
body.pen_round_corners.error404 header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.pen_round_corners.author header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.pen_round_corners.category header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.pen_round_corners.date header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.pen_round_corners.search header.pen_content_header h1.pen_content_title:before,
body.pen_list_header_icon.pen_round_corners.tag header.pen_content_header h1.pen_content_title:before {
	border-radius: 10px;
}
body.error404 header.pen_content_header h1.pen_content_title:before {
	content: '\f071';
}
body.pen_list_header_icon.author header.pen_content_header h1.pen_content_title:before {
	content: '\f007';
}
body.pen_list_header_icon.category header.pen_content_header h1.pen_content_title:before {
	content: '\f187';
}
body.pen_list_header_icon.date header.pen_content_header h1.pen_content_title:before {
	content: '\f073';
}
body.pen_list_header_icon.search header.pen_content_header h1.pen_content_title:before {
	content: '\f002';
}
body.pen_list_header_icon.tag header.pen_content_header h1.pen_content_title:before {
	content: '\f02b';
}
#error-404-search input {
	float: left;
	width: auto;
}
body.error404 #primary.error-404 .pen_content_header,
body.search #primary.no-results .pen_content_header {
	margin-bottom: 1rem;
}
body.error404 #primary.error-404 .pen_content,
body.search #primary.no-results .pen_content {
	font-size: 1.5em;
	min-height: 500px;
	overflow: hidden;
	position: relative;
}
body.error404 #primary.error-404 .pen_content:before,
body.search #primary.no-results .pen_content:before {
	color: rgba(170,170,170,0.25);
	font-family: 'FontAwesome';
	font-size: 18em;
	font-weight: normal;
	line-height: 1;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 0;
}
body.error404 #primary.error-404 .pen_content:before {
	content: '\f071';
}
body.search #primary.no-results .pen_content:before {
	content: '\f002';
}
#page .pen_warning_upgrade {
	background: #a00000;
	color: #fff;
	float: left;
	font-size: 1rem;
	padding: 1rem;
	width: 100%;
}
html.js #page .pen_warning_upgrade {
	cursor: pointer;
	left: 5%;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	width: 90%;
	z-index: 400;
}
html.js body.pen_drop_shadow #page .pen_warning_upgrade {
	box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 0 5px rgba(0,0,0,0.25);
}
html.js body.pen_round_corners #page .pen_warning_upgrade {
	border-radius: 5px;
}
html.js #page .pen_warning_toggle {
	background: #a00000 !important;
	border: 0 none !important;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.5;
	position: absolute;
	right: 2px;
	top: 2px;
	transition: opacity .3s;
	z-index: 400;
}
@media only screen and (max-width:728px) {
	body.error404 #primary.error-404 .pen_content,
	body.search #primary.no-results .pen_content {
		min-height: 250px;
	}
	body.error404 #primary.error-404 .pen_content:before,
	body.search #primary.no-results .pen_content:before {
		font-size: 10em;
	}
}
@media only print {
	body {
		padding-top: 0 !important;
	}
	body.pen_list_header_icon.author header.pen_content_header h1.pen_content_title:before,
	body.pen_list_header_icon.category header.pen_content_header h1.pen_content_title:before,
	body.pen_list_header_icon.date header.pen_content_header h1.pen_content_title:before,
	body.pen_list_header_icon.error404 header.pen_content_header h1.pen_content_title:before,
	body.pen_list_header_icon.search header.pen_content_header h1.pen_content_title:before,
	body.pen_list_header_icon.tag header.pen_content_header h1.pen_content_title:before {
		display: none;
	}
	#content {
		height: auto !important;
		min-height: none !important;
	}
	#content .pen_article {
		float: left;
		position: static !important;
		width: 100%;
	}
}
