#main .pen_article,
#main .pen_content_wrapper.pen_inside {
	position: relative;
}
#main article.pen_article,
body.pen_multiple #main li.pen_article,
#pen_content_next_previous,
body.pen_list_plain #pen_pager,
body.pen_list_plain.pen_has_woocommerce #page .woocommerce-pagination {
	background: #fff;
	color: #333;
}
body.pen_round_corners #main article.pen_article,
body.pen_round_corners.pen_multiple #main li.pen_article {
	border-radius: 10px 10px 5px 5px;
}
body.pen_round_corners #main article.pen_article,
body.pen_round_corners.pen_multiple #main li.pen_article,
body.pen_round_corners #pen_content_next_previous,
body.pen_round_corners.pen_multiple.pen_list_plain #pen_pager,
body.pen_round_corners.pen_has_woocommerce #page .woocommerce-pagination {
	border-radius: 5px;
}
body.pen_round_corners.pen_list_header_show #main article.pen_article:not(.product),
body.pen_round_corners.pen_content_header_show #main article.pen_article,
body.pen_round_corners.pen_multiple.pen_list_header_show #main li.pen_article:not(.product),
body.pen_round_corners.pen_multiple.pen_content_header_show #main li.pen_article {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
body.pen_round_corners.pen_list_footer_show #main article.pen_article,
body.pen_round_corners.pen_content_footer_show #main article.pen_article,
body.pen_round_corners.pen_multiple.pen_list_footer_show #main li.pen_article,
body.pen_round_corners.pen_multiple.pen_content_footer_show #main li.pen_article {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
body.pen_round_corners #main article.pen_article.pen_header_hide,
body.pen_round_corners.pen_multiple #main li.pen_article.pen_header_hide {
	border-radius: 5px !important;
}
body.pen_round_corners #main article.pen_article.pen_header_show:not(.product),
body.pen_round_corners.pen_multiple #main li.pen_article.pen_header_show:not(.product) {
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}
body.pen_round_corners #main article.pen_article.pen_footer_hide,
body.pen_round_corners.pen_multiple #main li.pen_article.pen_footer_hide {
	border-radius: 5px !important;
}
body.pen_round_corners #main article.pen_article.pen_footer_show,
body.pen_round_corners.pen_multiple #main li.pen_article.pen_footer_show {
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}
body.pen_round_corners.author #main article.pen_article,
body.pen_round_corners.category #main article.pen_article,
body.pen_round_corners.date #main article.pen_article,
body.pen_round_corners.error404 #main article.pen_article,
body.pen_round_corners.search #main article.pen_article,
body.pen_round_corners.tag #main article.pen_article {
	border-radius: 5px !important;
}
body.pen_drop_shadow #main article.pen_article,
body.pen_drop_shadow.pen_multiple #main li.pen_article,
body.pen_drop_shadow #pen_content_next_previous,
body.pen_drop_shadow.pen_list_plain #pen_pager,
body.pen_drop_shadow.pen_list_plain.pen_has_woocommerce #page .woocommerce-pagination,
body.pen_drop_shadow #page .pen_options_overview.pen_visible {
	box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 0 5px rgba(0,0,0,0.25);
}
#main .pen_article {
	float: left;
	margin: 0 0 1rem;
	width: 100%;
}
body.pen_list_tiles #pen_tiles .pen_article,
body.pen_list_masonry #pen_masonry .pen_article {
	margin: 0 0.5% 10px 0.5% !important;
}
body.pen_list_tiles #pen_tiles,
body.pen_list_tiles #pen_tiles .pen_article,
body.pen_list_masonry #pen_masonry,
body.pen_list_masonry #pen_masonry .pen_article {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
}
#main .pen_article .pen_content,
#main .pen_article .pen_summary,
#main .pen_article .pen_content_footer {
	float: left;
	padding: 2rem;
	width: 100%;
}
body.pen_list_plain #main .pen_article .pen_image_thumbnail + .pen_content {
	padding-top: 0.5rem;
}
#main .pen_article .pen_content_footer {
	padding-top: 0 !important;
}
#main .pen_article .pen_image_thumbnail + .pen_content_footer,
body.pen_list_summary_hide #main .pen_article .pen_content.pen_element_default + .pen_content_footer,
#main .pen_article .pen_content.pen_element_hidden + .pen_content_footer,
body:not(.pen_content_footer_hide) #main .pen_article.pen_header_show header.pen_content_header + .pen_content_footer,
#main .pen_article.pen_header_show:not(.pen_list_footer_hide) header.pen_content_header + .pen_content_footer {
	padding-top: 2rem !important;
}
#main .pen_article header.pen_content_header {
	background: #ddd;
	background: linear-gradient(125deg, #fff 0%, #ddd 100%);
	float: left;
	line-height: 1.2;
	padding: 2rem;
	position: relative;
	width: 100%;
	z-index: 40;
}
body.pen_drop_shadow #main header.pen_content_header.page-header .pen_content_title {
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
body.pen_round_corners #main .pen_article header.pen_content_header {
	border-radius: 5px 5px 0 0;
}
#main header.pen_content_header {
	float: left;
	padding: 2rem;
	width: 100%;
}
#main header.pen_content_header.pen_content_header.page-header {
	margin: 0 0 1rem;
	padding: 2rem 0;
}
body.pen_content_header_center #main article header.pen_content_header,
body.pen_list_header_center #main article header.pen_content_header {
	text-align: center;
}
#main header.pen_content_header .pen_content_title {
	float: left;
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
#main header.pen_content_header .pen_content_title,
#main header.pen_content_header .entry-meta,
#main header.pen_content_header .pen_share {
	position: relative;
	z-index: 2;
}
#main header.pen_content_header .pen_content_title a {
	display: inline-block;
}
#main header.pen_content_header .pen_content_title b,
#main header.pen_content_header .pen_content_title strong {
	font-weight: 800;
}
body.pen_list_header_center #main .pen_article header.pen_content_header,
#main .pen_article.pen_list_header_center header.pen_content_header,
body.pen_list_title_center #main header.pen_content_header .pen_content_title,
#main .pen_article.pen_list_title_center header.pen_content_header .pen_content_title,
body.pen_content_header_center #main header.pen_content_header,
body.pen_content_title_center #main header.pen_content_header .pen_content_title {
	text-align: center;
	width: 100%;
}
#main .pen_article header.pen_content_header a {
	color: #000;
	text-decoration: none;
}
#main .pen_article header.pen_content_header a:focus,
#main .pen_article header.pen_content_header a:hover,
#main .pen_article header.pen_content_header a:active {
	color: #0087cc;
	outline: none;
	text-decoration: none;
}
#main .pen_article .entry-meta {
	clear: both;
	float: left;
	font-size: 0.785em;
	line-height: 1.5;
	margin: 1rem 0 0;
	opacity: 0.9;
	padding: 0;
}
#main .pen_article header.pen_content_header .entry-meta {
	opacity: 0.75;
}
#main .pen_article.pen_list_header_center header.pen_content_header .entry-meta,
body.pen_content_header_center #main .pen_article header.pen_content_header .entry-meta {
	text-align: center;
	margin: 1rem auto 0;
	width: 100%;
}
#main .pen_article .entry-meta a {
	font-weight: bold;
	text-decoration: none;
}
#main .pen_article .entry-meta > span {
	position: relative;
}
#main .pen_article header.pen_content_header span.pen_content_author,
#main .pen_article header.pen_content_header span.pen_content_date {
	white-space: nowrap;
}
#main .pen_article header.pen_content_header span.pen_content_author,
#main .pen_article header.pen_content_header span.pen_content_date,
#main .pen_article header.pen_content_header span.pen_content_categories {
	display: inline-block;
	line-height: 1.3;
	margin: 0.5rem 0 0;
}
#main .pen_article header.pen_content_header span.pen_content_date time {
	display: inline-block;
}
#main .pen_article .entry-meta > span {
	margin-right: 1rem !important;
}
#main .pen_article .entry-meta.pen_separator_1 > span:after {
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 100%);
	content: '';
	height: 1em;
	opacity: 0.4;
	position: absolute;
	right: -8px;
	top: 50%;
	transform: translateY(-50%) rotate(-20deg);
	width: 1px;
}
#main .pen_article .entry-meta.pen_separator_2 > span:after {
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 100%);
	content: '';
	height: 1em;
	opacity: 0.4;
	position: absolute;
	right: -8px;
	top: 0;
	transform: rotate(20deg);
	width: 1px;
}
#main .pen_article .entry-meta.pen_separator_3 > span:after {
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 100%);
	content: '';
	height: 1em;
	opacity: 0.4;
	position: absolute;
	right: -8px;
	top: 0;
	width: 1px;
}
#main .pen_article .entry-meta.pen_separator_4 > span:after {
	background: #000;
	content: '';
	height: 1em;
	opacity: 0.5;
	position: absolute;
	right: -9px;
	top: 0;
	width: 1px;
}
#main .pen_article .entry-meta.pen_separator_5 > span:after {
	background: #000;
	content: '';
	height: 1em;
	opacity: 0.25;
	position: absolute;
	right: -9px;
	top: 0;
	width: 1px;
}
#main .pen_article .entry-meta.pen_separator_6 > span:after,
#main .pen_article .entry-meta.pen_separator_6 > span:before {
	background: #000;
	content: '';
	height: 1em;
	opacity: 0.25;
	position: absolute;
	right: -8px;
	top: 0;
	width: 1px;
}
#main .pen_article .entry-meta.pen_separator_6 > span:first-child:before {
	left: -8px;
	right: auto;
}
#main .pen_article .entry-meta.pen_separator_7 > span:after {
	background: #000;
	border-radius: 50px;
	content: '';
	height: 1em;
	opacity: 0.25;
	position: absolute;
	right: -18px;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}
#main .pen_article .entry-meta.pen_separator_8 > span:after {
	border: 3px solid #000;
	border-radius: 100px;
	content: '';
	height: 1em;
	opacity: 0.25;
	position: absolute;
	right: -18px;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}
#main .pen_article .entry-meta.pen_separator_9 > span:after {
	border: 3px solid #000;
	content: '';
	height: 1em;
	opacity: 0.25;
	position: absolute;
	right: -12px;
	top: 50%;
	transform: rotate(45deg) translateY(calc(-50% - 2px));
	width: 1em;
}
#main .pen_article .entry-meta.pen_separator_10 > span:after {
	color: #000;
	content: '..';
	font-size: 2em;
	font-weight: bold;
	height: 1em;
	letter-spacing: -2px;
	line-height: 0;
	opacity: 0.25;
	position: absolute;
	right: -22px;
	text-align: center;
	top: 50%;
	transform: translate(-50%,calc(-50% - 2px)) rotate(90deg);
	width: 1em;
}
#main .pen_article .entry-meta > span:last-child:after {
	display: none;
}
#main .pen_article .entry-meta.pen_separator_6 > span:first-child:after,
#main .pen_article .entry-meta.pen_separator_6 > span:last-child:after {
	display: block;
}
#main .pen_article .entry-meta.pen_separator_7 > span,
#main .pen_article .entry-meta.pen_separator_8 > span,
#main .pen_article .entry-meta.pen_separator_9 > span {
	margin-right: 1.5rem !important;
}
#main .pen_article .entry-meta > span:last-child {
	margin-right: 0 !important;
}
#main .pen_content_header .archive-description {
	float: left;
	font-size: 0.857em;
	margin: 0;
	padding: 1.5rem 1rem 0;
	width: 100%;
}
#page a.more-link {
	display: block;
	font-weight: bold;
	margin-bottom: 0 !important;
	margin-top: 1rem !important;
	white-space: nowrap;
}
#page a.more-link:focus,
#page a.more-link:hover,
#page a.more-link:active {
	outline: 0 none;
	text-decoration: none;
}
body.pen_list_plain #content a.more-link {
	display: inline-block !important;
	width: auto !important;
}
#page a.more-link.pen_button {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}
#page a.more-link.pen_icon_arrow:after,
#page a.more-link.pen_icon_arrow_double:after,
#page a.more-link.pen_icon_ellipsis:after {
	font-family: 'FontAwesome';
	font-weight: normal;
}
#page a.more-link.pen_icon_arrow:after {
	content: '\f105';
	margin: 0 0 0 0.5rem;
}
#page a.more-link.pen_icon_arrow_double:after {
	content: '\f101';
	margin: 0 0 0 0.5rem;
}
#page a.more-link.pen_icon_ellipsis:after {
	content: '…';
	margin: 0 0 0 0.25rem;
}
#main .alignleft {
	margin: 1rem 1rem 1rem 0;
}
#main .alignright {
	float: right;
	margin: 1rem 0 1rem 1rem;
}
#main .alignleft .wp-block-button__link {
	margin-bottom: 0;
}
#main .alignright .wp-block-button__link {
	margin-bottom: 0;
}
#main .wp-block-group:not(.alignwide):not(.alignfull) * {
	max-width: 100% !important;
	margin-left: 0 !important;
}
#main figure.alignfull figcaption,
#main figure.alignwide figcaption {
	padding-left: 1rem !important;
}
body.pen_round_corners #main .pen_article .alignfull,
body.pen_round_corners #main .pen_article .alignwide {
	border-radius: 0 !important;
}
#main .wp-block-cover-image {
	margin-bottom: 1rem;
}
#main .pen_article .blocks-gallery-grid,
#main .pen_article .wp-block-gallery {
	margin: 0;
	padding: 0;
}
#main ul.wp-block-social-links {
	padding-left: 0 !important;
}
#main ul.wp-block-social-links .wp-social-link a,
#main ul.wp-block-social-links .wp-social-link a:focus,
#main ul.wp-block-social-links .wp-social-link a:hover,
#main ul.wp-block-social-links .wp-social-link a:active {
	color: #fff !important;
}
#main .alignwide,
#main .alignfull,
#main .wp-block-group.alignwide .alignfull {
	margin-left: -2rem !important;
	min-width: calc(100% + 4rem) !important;
	width: calc(100% + 4rem) !important;
}
#main .pen_article .search-form {
	position: relative;
}
#main .pen_article .search-form .search-field,
#main .pen_article .search-form .search-submit {
	display: block;
	font-size: 1em;
	font-weight: normal;
	height: 3rem;
	line-height: 1.5;
}
#main .pen_article .search-form .search-field {
	padding-right: 33% !important;
	width: 100%;
}
#main .pen_article .search-form .search-submit {
	border-radius: 0 !important;
	margin-left: 10px;
	padding: 0.5rem 0 !important;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 30%;
}
body.pen_round_corners #main .pen_article .search-form .search-submit {
	border-radius: 5px !important;
}
#main .pen_content_footer {
	font-size: 0.857em !important;
	position: relative;
}
body.pen_round_corners #main .pen_content_footer {
	border-radius: 0 0 5px 5px;
}
#page .pen_options_overview {
	background: #fff;
	color: #333 !important;
	float: left;
	padding: 15px;
	width: 100%;
}
#page .pen_options_overview.pen_off_screen {
	padding: 15px;
	width: auto;
	z-index: 10000;
}
body.pen_multiple #page .pen_options_overview {
	display: none;
	transition: top .3s;
}
body.pen_multiple #page .pen_options_overview.pen_visible {
	bottom: 1em;
	display: block;
	left: 5%;
	max-width: 350px;
	position: absolute;
	width: 90%;
}
body.pen_multiple.pen_width_narrow #page .pen_options_overview.pen_visible {
	max-width: none;
}
#page .pen_options_overview h3 {
	background: linear-gradient(125deg, #555 0%, #aaa 100%);
	color: #fff;
	font-size: 1em;
	font-weight: normal;
	margin-top: 0;
	padding: 1rem;
	position: relative;
}
html.js #page .pen_options_overview h3 {
	margin: -15px -15px 0.5rem;
}
#page .pen_options_overview h3:before {
	content: '\f085';
	font-family: 'FontAwesome';
	font-weight: normal;
	margin: 0 0.5rem 0 0;
}
#page .pen_options_overview .pen_overview_content_title {
	font-size: 1em;
	margin: 0 0 5px;
}
#page .pen_options_overview .pen_close {
	height: 3em;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-indent: -99999px;
	top: 5px;
	width: 3em;
	line-height: 1;
	z-index: 2;
}
#page .pen_options_overview .pen_close:after,
#page .pen_options_overview .pen_close:before {
	border-top: 2px solid #fff;
	content: '';
	position: absolute;
	top: 50%;
	text-indent: 0;
	left: 0.5em;
	text-align: center;
	font-size: 1.286em;
	transform: rotate(45deg);
	width: 1em;
}
body.pen_drop_shadow #page .pen_options_overview .pen_close:after,
body.pen_drop_shadow #page .pen_options_overview .pen_close:before {
	text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#page .pen_options_overview .pen_close:after {
	transform: rotate(-45deg);
}
#page .pen_options_overview .pen_close:active:after,
#page .pen_options_overview .pen_close:active:before {
	border-color: #c40000;
}
body.pen_multiple #page .pen_options_overview_toggle {
	margin: 0;
	opacity: 0.5;
	overflow: hidden;
	position: relative;
	text-indent: -99999px;
	transition: opacity .3s;
	width: auto;
}
body.pen_round_corners.pen_multiple #page .pen_options_overview_toggle {
	border-radius: 0 3px 0 0 !important;
}
body.pen_multiple #page .pen_options_overview_toggle:before {
	left: 50%;
	position: absolute;
	text-indent: 0;
	top: 50%;
	transform: translate(-50%,-50%);
}
body.pen_multiple #page .pen_options_overview_toggle.pen_visible {
	opacity: 1;
}
#page .pen_options_overview_toggle:before {
	content: '\f085';
	font-family: 'FontAwesome';
	font-weight: normal;
	margin: 0 1rem 0 0;
}
#page .pen_options_overview .pen_table_wrapper {
	float: left;
	margin: 0 0 1rem !important;
	max-height: 400px;
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
}
#page .pen_options_overview table {
	box-shadow: none;
	margin: 0 !important;
}
#page .pen_options_overview table th,
#page .pen_options_overview table td {
	background: #fff !important;
	color: #333 !important;
	border: 0 none;
	padding: 0.5rem;
	text-align: left;
}
#page .pen_options_overview table th {
	background: #efefef !important;
	font-weight: bold;
	font-size: 1em;
}
#page .pen_options_overview .pen_button {
	font-size: 0.857em;
	margin: 0 0 1rem;
}
#main #pen_content_next_previous {
	float: left;
	margin: 0 0 1rem;
	padding: 2rem;
	width: 100%;
}
#main #pen_content_next_previous .pen_title {
	display: block;
	white-space: nowrap;
}
#main .pen_content_previous {
	float: left;
	text-align: left;
}
#main .pen_content_next {
	float: right;
	text-align: right;
}
#main .pen_content_previous,
#main .pen_content_next {
	margin-bottom: 0 !important;
	max-width: 49%;
	overflow: hidden;
	position: relative;
}
#main .pen_button.pen_content_previous,
#main .pen_button.pen_content_next {
	width: auto !important;
}
#main .pen_content_previous.pen_icon_arrow,
#main .pen_content_previous.pen_icon_arrow_double {
	padding-left: 3rem !important;
}
#main .pen_content_next.pen_icon_arrow,
#main .pen_content_next.pen_icon_arrow_double {
	padding-right: 3rem !important;
}
#main .pen_content_previous.pen_icon_arrow:before,
#main .pen_content_previous.pen_icon_arrow_double:before,
#main .pen_content_next.pen_icon_arrow:before,
#main .pen_content_next.pen_icon_arrow_double:before {
	content: '\f104';
	font-family: 'FontAwesome';
	font-weight: normal;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#main .pen_content_previous.pen_icon_arrow:before,
#main .pen_content_previous.pen_icon_arrow_double:before {
	left: 1em;
}
#main .pen_content_next.pen_icon_arrow:before,
#main .pen_content_next.pen_icon_arrow_double:before {
	content: '\f105';
	right: 1em;
}
#page .pen_content_previous.pen_icon_arrow_double:before {
	content: '\f100';
}
#page .pen_content_next.pen_icon_arrow_double:before {
	content: '\f101';
}
#primary .comments-link a,
#primary .edit-link a.post-edit-link {
	margin-top: 1rem !important;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}
#primary .comments-link a:before,
#primary .edit-link a.post-edit-link:before,
#primary .pen_content_footer .tags-links .pen_heading_tags:before {
	content: '\f044';
	font-family: 'FontAwesome';
	font-weight: normal;
	margin: 0 1rem 0 0;
}
#primary .comments-link a:before {
	content: '\f075';
}
#primary .pen_content_footer .tags-links {
	display: block;
}
#primary .pen_content_footer .tags-links .pen_heading_tags {
	display: inline-block;
	font-weight: bold;
	margin-right: 1rem;
}
#primary .pen_content_footer .tags-links .pen_heading_tags:before {
	content: '\f02c';
	font-weight: normal;
	margin-right: 0.5rem;
}
#primary .pen_content_footer .tags-links a {
	display: inline-block;
	float: none;
	font-weight: normal;
	margin-right: 0.5rem !important;
	padding: 0.25rem 1rem !important;
	text-transform: none !important;
	width: auto !important;
}
body.pen_round_corners #primary .tags-links a {
	border-radius: 5px;
}
#primary .pen_content_footer .pen_actions .tags-links a:last-of-type {
	margin-right: 0 !important;
}
body.pen_list_tiles #primary .pen_content_footer span:last-child a,
body.pen_list_masonry #primary .pen_content_footer span:last-child a {
	margin-bottom: 0 !important;
}
#main .pen_content {
	position: relative;
}
#main .pen_content .pen_content_wrapper.pen_inside a {
	text-decoration: underline;
}
#main .pen_content .pen_content_wrapper.pen_inside a:focus,
#main .pen_content .pen_content_wrapper.pen_inside a:hover,
#main .pen_content .pen_content_wrapper.pen_inside a:active {
	text-decoration: none;
}
#main .post.format-audio > header,
#main .post.format-aside > header,
#main .post.format-gallery > header,
#main .post.format-image > header,
#main .post.format-video > header,
#main .post.format-quote > header,
#main .post.format-link > header,
#main .post.format-status > header,
#main .status-draft > header,
#main .post-password-required > header,
#main .post.sticky > header.pen_content_header {
	overflow: hidden;
}
#main .post.format-audio > header:before,
#main .post.format-audio > header:after,
#main .post.format-aside > header:before,
#main .post.format-aside > header:after,
#main .post.format-gallery > header:before,
#main .post.format-gallery > header:after,
#main .post.format-image > header:before,
#main .post.format-image > header:after,
#main .post.format-video > header:before,
#main .post.format-video > header:after,
#main .post.format-quote > header:before,
#main .post.format-quote > header:after,
#main .post.format-link > header:before,
#main .post.format-link > header:after,
#main .post.format-status > header:before,
#main .post.format-status > header:after,
#main .status-draft > header:before,
#main .status-draft > header:after,
#main .post-password-required > header:before,
#main .post-password-required > header:after,
#main .post.sticky > header:before,
#main .post.sticky > header:after {
	color: rgba(170,170,170,0.3);
	font-family: 'FontAwesome';
	font-size: 5em;
	font-weight: normal;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
#main .post.format-audio > header:before,
#main .post.format-aside > header:before,
#main .post.format-gallery > header:before,
#main .post.format-image > header:before,
#main .post.format-video > header:before,
#main .post.format-quote > header:before,
#main .post.format-link > header:before,
#main .post.format-status > header:before,
#main .status-draft > header:before,
#main .post-password-required > header:before,
#main .post.sticky > header:before {
	font-size: 15em;
	opacity: 0.4;
	right: -30px;
}
body.pen_list_tiles.pen_multiple #main header:after,
body.pen_list_masonry.pen_multiple #main header:after {
	display: none;
}
#main .post.format-audio > header:before,
#main .post.format-audio > header:after {
	content: '\f1c7';
}
#main .post.format-aside > header:before,
#main .post.format-aside > header:after {
	content: '\f0f6';
}
#main .post.format-gallery > header:before,
#main .post.format-gallery > header:after,
#main .post.format-image > header:before,
#main .post.format-image > header:after {
	content: '\f03e';
}
#main .post.format-video > header:before,
#main .post.format-video > header:after {
	content: '\f1c8';
}
#main .post.format-quote > header:before,
#main .post.format-quote > header:after {
	content: '\f10e';
}
#main .post.format-link > header:before,
#main .post.format-link > header:after {
	content: '\f0c1';
}
#main .post.format-status > header:before,
#main .post.format-status > header:after {
	content: '\f118';
}
#main .post-password-required > header:before,
#main .post-password-required > header:after {
	content: '\f023';
}
#main .status-draft > header:before,
#main .status-draft > header:after {
	content: '\f06e';
}
#main .post.sticky > header:before,
#main .post.sticky > header:after {
	content: '\f005';
}
@media only screen and (min-width:728px) {
	body.pen_list_header_icon #main .pen_content_header .archive-description {
		padding-left: 105px;
		padding-top: 1rem;
	}
	#main .pen_share h4 {
		border: 0 none !important;
		clip: rect(1px,1px,1px,1px);
		clip: rect(1px 1px 1px 1px);
		height: 1px !important;
		margin: 0 !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
	}
	#main .pen_article .entry-meta {
		float: left;
		margin: 0.5rem 0 0;
	}
	body.pen_multiple.pen_list_effect_fade .pen_article_wrapper .pen_article,
	body.pen_multiple.pen_list_effect_enlarge .pen_article_wrapper .pen_article,
	body.pen_multiple.pen_list_effect_enlarge_fade .pen_article_wrapper .pen_article {
		transition: box-shadow .5s, opacity .5s, transform .3s;
	}
	body.pen_multiple.pen_list_effect_fade .pen_article_wrapper:hover .pen_article,
	body.pen_multiple.pen_list_effect_enlarge_fade .pen_article_wrapper:hover .pen_article {
		opacity: 0.75;
	}
	body.pen_multiple.pen_list_effect_enlarge .pen_article_wrapper .pen_article:hover,
	body.pen_multiple.pen_list_effect_enlarge_fade .pen_article_wrapper .pen_article:hover {
		transform: scale(1.04,1.04) !important;
		z-index: 1000;
	}
	body.pen_drop_shadow.pen_multiple.pen_list_effect_enlarge .pen_article_wrapper .pen_article:hover,
	body.pen_drop_shadow.pen_multiple.pen_list_effect_enlarge_fade .pen_article_wrapper .pen_article:hover {
		box-shadow: 0 0 25px rgba(0,0,0,0.4), 5px 5px 15px rgba(0,0,0,0.5);
	}
	body.pen_multiple.pen_list_effect_fade .pen_article_wrapper:hover .pen_article:hover,
	body.pen_multiple.pen_list_effect_enlarge_fade .pen_article_wrapper:hover .pen_article:hover {
		opacity: 1;
	}
	body.pen_singular #page .pen_options_overview.pen_off_screen {
		min-width: 250px;
		position: fixed;
		right: -100%;
		top: 50%;
		transition: right .3s;
		transform: translateY(-50%);
	}
	body.pen_header_sticky_minimize.pen_singular #page .pen_options_overview_toggle,
	body.pen_header_sticky_minimize.pen_singular #page .pen_options_overview.pen_off_screen {
		bottom: 3rem;
		top: auto;
		transform: none;
	}
	body.pen_singular #page .pen_options_overview.pen_visible {
		right: 0;
	}
	body.pen_singular #page .pen_options_overview_toggle {
		padding: 1rem 5rem 1rem 2rem !important;
		position: fixed;
		right: -100%;
		top: 50%;
		transform: translateY(-50%);
		transition: right .3s;
		width: auto;
		z-index: 10000;
	}
	body.pen_singular.pen_drop_shadow #page .pen_options_overview_toggle {
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
	body.pen_singular #page .pen_options_overview_toggle.pen_visible {
		right: -3em;
	}
	#main .pen_content_footer .entry-meta {
		font-size: 1em;
		line-height: 2;
		margin: 1rem 0 0;
		text-align: right;
	}
	#main .pen_content_footer .entry-meta .pen_content_author,
	#main .pen_content_footer .entry-meta .pen_content_date,
	#main .pen_content_footer .entry-meta .pen_content_categories {
		display: inline-block;
	}
	body.pen_singular #main .pen_content_footer .entry-meta,
	body.pen_list_plain #main .pen_content_footer .entry-meta {
		float: right;
		text-align: right;
		width: auto;
	}
	body.pen_list_tiles #main .pen_content_footer .entry-meta,
	body.pen_list_masonry #main .pen_content_footer .entry-meta {
		text-align: center;
	}
	#main .pen_content_footer .pen_actions .comments-link,
	#main .pen_content_footer .pen_actions .comments-link a,
	#main .pen_content_footer .pen_actions .edit-link,
	#main .pen_content_footer .pen_actions .edit-link a.post-edit-link {
		margin-top: 0 !important;
		width: 100% !important;
	}
	body.pen_list_plain #main .pen_content_footer .pen_actions .comments-link,
	body.pen_list_plain #main .pen_content_footer .pen_actions .comments-link a,
	body.pen_list_plain #main .pen_content_footer .pen_actions .edit-link,
	body.pen_list_plain #main .pen_content_footer .pen_actions .edit-link a.post-edit-link {
		float: left;
		width: auto !important;
	}
	body.pen_list_plain #main .pen_content_footer .pen_actions .comments-link,
	body.pen_list_plain #main .pen_content_footer .pen_actions .edit-link {
		float: left;
		margin: 0 1rem 0 0 !important;
	}
	body.pen_list_tiles.pen_width_narrow #pen_tiles .pen_article,
	body.pen_list_masonry.pen_width_narrow #pen_masonry .pen_article {
		margin: 0 0 1rem !important;
	}
	body.pen_width_narrow #main .alignleft,
	body.pen_width_narrow #main .aligncenter,
	body.pen_width_narrow #main .alignright {
		margin: 1rem 0;
		width: 100%;
	}
	body.pen_width_narrow #main img.alignleft,
	body.pen_width_narrow #main img.aligncenter,
	body.pen_width_narrow #main img.alignright,
	body.pen_width_narrow #main .alignleft img,
	body.pen_width_narrow #main .aligncenter img,
	body.pen_width_narrow #main .alignright img {
		height: auto;
		width: 100%;
	}
	body.pen_width_narrow #main .pen_article header.pen_content_header .pen_content_title {
		width: 100%;
	}
	body.pen_width_narrow #main .pen_article .entry-meta {
		float: left;
		width: 100%;
	}
	body.pen_width_narrow #main .pen_content_header .pen_share h4 {
		border: 0 none !important;
		clip: rect(1px,1px,1px,1px);
		clip: rect(1px 1px 1px 1px);
		height: 1px !important;
		margin: 0 !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
	}
	body.pen_width_narrow #main .pen_content_footer .pen_share h4 {
		font-size: 1.5em;
		text-align: center;
	}
}
@media only screen and (min-width:728px) and (max-width:1024px) {
	#main header.pen_content_header .pen_content_title {
		font-size: 1.5em;
	}
	#main .pen_content_footer .tags-links .pen_heading_tags {
		display: block;
		margin-bottom: 0.5rem;
		margin-right: 0;
	}
}
@media only screen and (max-width:728px) {
	body.pen_list_tiles #pen_tiles .pen_article,
	body.pen_list_masonry #pen_masonry .pen_article {
		margin: 0 0 1rem !important;
	}
	#main .alignleft,
	#main .aligncenter,
	#main .alignright {
		margin: 1rem 0;
		width: 100%;
	}
	#main img.alignleft,
	#main img.aligncenter,
	#main img.alignright,
	#main .alignleft img,
	#main .aligncenter img,
	#main .alignright img {
		height: auto;
		width: 100%;
	}
	#main .pen_article header.pen_content_header .pen_content_title,
	#main .pen_article .entry-meta,
	#main .pen_button.pen_content_previous,
	#main .pen_button.pen_content_next	{
		width: 100%;
	}
	#main .pen_button.pen_content_previous,
	#main .pen_button.pen_content_next {
		margin: 1rem 0;
		max-width: none !important;
	}
	#main .comments-link,
	#main .comments-link a,
	#main .edit-link,
	#main .edit-link a.post-edit-link {
		margin-top: 0 !important;
	}
	#main .pen_article .search-form .search-field {
		padding-right: 45% !important;
	}
	#main .pen_article .search-form .search-submit {
		width: 40%;
	}
	#main .pen_content_header .pen_share h4 {
		border: 0 none !important;
		clip: rect(1px,1px,1px,1px);
		clip: rect(1px 1px 1px 1px);
		height: 1px !important;
		margin: 0 !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
	}
	#main .pen_content_footer .entry-meta {
		line-height: 2;
		margin-top: 1rem;
		text-align: center;
	}
	#main .pen_content_footer .pen_share h4 {
		font-size: 1.5em;
		text-align: center;
	}
	#main .pen_content_footer .tags-links .pen_heading_tags {
		display: block;
		margin-bottom: 0.5rem;
		margin-right: 0;
	}
	body.pen_singular #page .pen_options_overview {
		display: none;
		transition: top .3s;
	}
	body.pen_singular #page .pen_options_overview.pen_visible {
		bottom: 4em;
		display: block;
		left: 5%;
		position: fixed;
		width: 90%;
		z-index: 1000;
	}
	body.pen_singular #page .pen_options_overview_toggle {
		bottom: 1rem;
		left: 1rem;
		margin: 0;
		opacity: 0.5;
		overflow: hidden;
		position: fixed;
		text-indent: -99999px;
		transition: opacity .3s;
		width: auto;
		z-index: 2000;
	}
	body.pen_round_corners.pen_singular #page .pen_options_overview_toggle {
		border-radius: 0 3px 0 0;
	}
	body.pen_singular #page .pen_options_overview_toggle:before {
		left: 50%;
		position: absolute;
		text-indent: 0;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	body.pen_singular #page .pen_options_overview_toggle.pen_visible {
		opacity: 1;
	}
}
body.pen_list_header_hide #main .pen_article header.pen_element_default,
#main .pen_article header.pen_list_header_hide.pen_element_default,
body.pen_list_title_hide #main .pen_article header.pen_content_header .pen_content_title.pen_element_default,
#main .pen_article.pen_list_title_hide header.pen_content_header .pen_content_title.pen_element_default,
body.pen_list_author_hide #main .pen_article .pen_content_author.pen_element_default,
#main .pen_article.pen_list_author_hide .pen_content_author.pen_element_default,
body.pen_list_date_hide #main .pen_article .pen_content_date_published.pen_element_default,
#main .pen_article.pen_list_date_hide .pen_content_date_published.pen_element_default,
body.pen_list_date_updated_hide #main .pen_article .pen_content_date_updated.pen_element_default,
body.pen_list_category_hide #main .pen_article .pen_content_categories.pen_element_default,
#main .pen_article.pen_list_category_hide .pen_content_categories.pen_element_default,
body.pen_list_thumbnail_hide #main .pen_article .pen_image_thumbnail,
#main .pen_article.pen_list_thumbnail_hide .pen_image_thumbnail,
body.pen_list_summary_hide #main .pen_article .pen_content.pen_element_default,
#main .pen_article.pen_list_summary_hide .pen_content.pen_element_default,
body.pen_list_footer_hide #main .pen_article .pen_content_footer.pen_element_default,
#main .pen_article.pen_list_footer_hide .pen_content_footer.pen_element_default,
body.pen_list_tags_hide #main .pen_article .tags-links.pen_element_default,
#main .pen_article.pen_list_tags_hide .tags-links.pen_element_default,
body.pen_list_button_comment_hide #main .pen_article .comments-link.pen_element_default,
#main .pen_article.pen_list_button_comment_hide .comments-link.pen_element_default,
body.pen_list_button_edit_hide #main .pen_article .edit-link.pen_element_default,
#main .pen_article.pen_list_button_edit_hide .edit-link.pen_element_default,
body.pen_list_button_read_more_hide #main .pen_article a.more-link.pen_element_default,
#main .pen_article.pen_list_button_read_more_hide a.more-link.pen_element_default,
body.pen_singular.pen_content_header_hide #main .pen_article header.pen_content_header,
body.pen_singular.pen_content_title_hide #main .pen_article header.pen_content_header .pen_content_title,
body.pen_singular.pen_content_author_hide #main .pen_article .pen_content_author,
body.pen_singular.pen_content_date_hide #main .pen_article .pen_content_date_published,
body.pen_singular.pen_content_date_updated_hide #main .pen_article .pen_content_date_updated,
body.pen_singular.pen_content_category_hide #main .pen_article .pen_content_categories,
body.pen_singular.pen_content_thumbnail_hide #main .pen_article .pen_image_thumbnail,
body.pen_singular.pen_content_share_hide #main .pen_article .pen_share,
body.pen_singular.pen_content_footer_hide #main .pen_article .pen_content_footer,
body.pen_singular.pen_content_tags_hide #main .pen_article .tags-links {
	border: 0 none !important;
	clip: rect(1px,1px,1px,1px);
	clip: rect(1px 1px 1px 1px);
	height: 1px !important;
	margin: 0 !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}
