#primary .pen_author_profile {
	float: left;
	margin: 2rem 0 0;
	padding: 2rem 1rem 0;
	position: relative;
	width: 100%;
	z-index: 10;
}
#primary .pen_author_profile:before {
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 50%, rgba(255,255,255,0) 100%);
	content: '';
	height: 1px;
	left: 0;
	opacity: 0.3;
	position: absolute;
	top: 0;
	width: 100%;
}
#primary .pen_author_profile a:focus,
#primary .pen_author_profile a:hover,
#primary .pen_author_profile a:active {
	text-decoration: none;
}
body.pen_list_tiles #primary .pen_author_profile,
body.pen_list_plain #primary .pen_author_profile,
body.pen_list_masonry #primary .pen_author_profile {
	border-bottom: 0 none;
	font-size: 0.857em;
}
#primary .pen_author_profile.pen_has_avatar {
	min-height: 100px;
	padding-left: 130px;
}
#primary .pen_author_profile .pen_author_avatar {
	background: #fff;
	height: 90px;
	left: 1em;
	overflow: hidden;
	position: absolute;
	top: 1em;
	width: 90px;
}
#primary .pen_author_profile .pen_author_avatar a {
	display: block;
	line-height: 0;
}
body.pen_author_avatar_style_1 #primary .pen_author_profile .pen_author_avatar {
	border-radius: 50% !important;
}
body.pen_author_avatar_style_2 #primary .pen_author_profile .pen_author_avatar {
	border-radius: 100% / 50% !important;
}
body.pen_author_avatar_style_3 #primary .pen_author_profile .pen_author_avatar {
	border-radius: 50% / 100% 50% !important;
}
body.pen_author_avatar_style_4 #primary .pen_author_profile .pen_author_avatar {
	border-radius: 5% 50% !important;
}
body.pen_author_avatar_style_5 #primary .pen_author_profile .pen_author_avatar {
	border-radius: 20% 50% !important;
}
body.pen_author_avatar_style_6 #primary .pen_author_profile .pen_author_avatar {
	border-radius: 50% 5% !important;
}
body.pen_author_avatar_style_7 #primary .pen_author_profile .pen_author_avatar {
	border-radius: 50% 20% !important;
}
body.pen_author_avatar_style_8 #primary .pen_author_profile .pen_author_avatar {
	border-radius: 50% 5% 15% 5% !important;
}
body.pen_author_avatar_style_9 #primary .pen_author_profile .pen_author_avatar {
	border-radius: 15% 5% 50% 5% !important;
}
body.pen_author_avatar_style_10 #primary .pen_author_profile .pen_author_avatar {
	border-radius: 5% !important;
}
body.pen_tiles_columns_4 #primary .pen_author_profile,
body.pen_masonry_columns_4 #primary .pen_author_profile {
	margin: 90px 0 0;
}
body.pen_tiles_columns_4 #primary .pen_author_profile .pen_author_url,
body.pen_masonry_columns_4 #primary .pen_author_profile .pen_author_url {
	display: block;
	text-align: center;
	width: 100%;
}
body.pen_tiles_columns_4 #primary .pen_author_profile .pen_author_about h3,
body.pen_tiles_columns_5 #primary .pen_author_profile .pen_author_about h3,
body.pen_masonry_columns_4 #primary .pen_author_profile .pen_author_about h3,
body.pen_masonry_columns_5 #primary .pen_author_profile .pen_author_about h3 {
	text-align: center;
	width: 100%;
}
body.pen_tiles_columns_4 #primary .pen_author_profile.pen_has_avatar,
body.pen_tiles_columns_5 #primary .pen_author_profile.pen_has_avatar,
body.pen_masonry_columns_4 #primary .pen_author_profile.pen_has_avatar,
body.pen_masonry_columns_5 #primary .pen_author_profile.pen_has_avatar {
	min-height: 80px;
}
body.pen_tiles_columns_5 #primary .pen_author_profile,
body.pen_masonry_columns_5 #primary .pen_author_profile {
	margin: 100px 0 0;
}
body.pen_tiles_columns_4 #primary .pen_author_profile.pen_has_avatar,
body.pen_masonry_columns_4 #primary .pen_author_profile.pen_has_avatar,
body.pen_tiles_columns_5 #primary .pen_author_profile.pen_has_avatar,
body.pen_masonry_columns_5 #primary .pen_author_profile.pen_has_avatar {
	padding: 30px 1rem 0;
}
body.pen_tiles_columns_4 #primary .pen_author_profile .pen_author_avatar,
body.pen_masonry_columns_4 #primary .pen_author_profile .pen_author_avatar,
body.pen_tiles_columns_5 #primary .pen_author_profile .pen_author_avatar,
body.pen_masonry_columns_5 #primary .pen_author_profile .pen_author_avatar {
	left: 50%;
	top: -75px;
	transform: translateX(-50%);
}
body.pen_tiles_columns_5 #primary .pen_author_profile .pen_author_url,
body.pen_masonry_columns_5 #primary .pen_author_profile .pen_author_url {
	display: block;
	text-align: center;
	width: 100%;
}
#primary .pen_author_profile .pen_author_about h3 {
	margin: 0 0 0.75rem !important;
}
#primary .pen_author_profile .pen_author_about h3:before {
	display: none;
}
#primary .pen_author_profile .pen_author_about p {
	font-size: 0.857em;
}
#primary .pen_author_profile .pen_author_about .pen_author_url {
	display: inline-block;
	margin: 0 0 0.5rem;
}
@media only screen and (min-width:728px) {
	body.pen_singular #primary .pen_author_profile .pen_author_about.pen_no_description,
	body.pen_list_plain #primary .pen_author_profile .pen_author_about.pen_no_description {
		left: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	body.pen_singular #primary .pen_author_profile.pen_has_avatar .pen_author_about.pen_no_description,
	body.pen_list_plain #primary .pen_author_profile.pen_has_avatar .pen_author_about.pen_no_description {
		padding: 0 0 0 120px;
	}
	body.pen_width_narrow #primary .pen_author_profile.pen_has_avatar .pen_author_about {
		width: 100%;
	}
	body.pen_width_narrow #primary .pen_author_profile.pen_has_avatar .pen_author_about.pen_no_description {
		padding: 0;
		text-align: center;
	}
	body.pen_width_narrow #primary .pen_author_profile {
		margin: 100px 0 0;
	}
	body.pen_width_narrow #primary .pen_author_profile.pen_has_avatar {
		padding: 30px 1rem 0;
	}
	body.pen_width_narrow #primary .pen_author_profile .pen_author_url {
		display: block;
		text-align: center;
		width: 100%;
	}
	body.pen_width_narrow #primary .pen_author_profile .pen_author_avatar {
		left: 50%;
		top: -80px;
		transform: translateX(-50%);
	}
}
@media only screen and (max-width:728px) {
	#primary .pen_author_profile {
		margin: 100px 0 0;
	}
	#primary .pen_author_profile.pen_has_avatar {
		padding: 30px 1rem 0;
	}
	#primary .pen_author_profile .pen_author_url {
		display: block;
		text-align: center;
	}
	#primary .pen_author_profile .pen_author_avatar {
		left: 50%;
		top: -80px;
		transform: translateX(-50%);
	}
}
