body.post,
body.page {
	margin: 0;
}
#page {
	min-height: 100%;
	min-width: 320px;
	overflow: hidden;
	z-index: 3;
}
#page .pen_wrapper {
	min-height: 100vh;
}
#page .pen_container {
	width: 100%;
}
#page,
#content,
#main,
#pen_section,
#page .sidebar {
	position: relative;
}
#pen_search_top {
	z-index: 400;
}
#pen_search_left {
	z-index: 300;
}
#pen_search_form {
	z-index: 200;
}
#pen_search_right {
	z-index: 100;
}
#content,
#pen_top,
#pen_search,
#pen_bottom,
#pen_footer {
	float: left;
	padding: 1.5rem 0;
	width: 100%;
}
#pen_top {
	padding: 0;
}
#content {
	z-index: 2;
}
#content .sidebar {
	z-index: 10;
}
#main {
	z-index: 20;
}
#main .pen_content,
#main .pen_summary {
	margin: 0;
}
#page,
#pen_header,
#pen_section,
#pen_tiles,
#pen_masonry,
#pen_right,
#pen_search_top,
#pen_search_left,
#pen_search_right,
#pen_search_bottom,
#comments,
#respond,
#primary,
#main,
#main .pen_content,
#main .pen_content_header,
#pen_content_top,
#pen_content_bottom,
#pen_footer .pen_footer_inner,
#pen_footer_top,
#pen_footer_top .widget,
#pen_footer_bottom,
#pen_footer_bottom .widget {
	float: left;
	width: 100%;
}
#pen_left,
#pen_right {
	margin: 0 0 1rem;
	z-index: 400;
}
#pen_content_top,
#pen_content_bottom {
	padding: 1rem 0;
}
#pen_footer_top .widget {
	margin: 0 0 1rem;
}
@media only screen and (min-width:728px) {
	#page .pen_container {
		margin: 0 auto;
		width: 98%;
	}
	body.pen_width_boxed #page .pen_wrapper {
		margin: 0 auto;
		max-width: 1200px;
		width: 85%;
	}
	body.pen_width_boxed #page .pen_container,
	body.pen_width_narrow #page .pen_container,
	body.pen_width_narrow #pen_header .pen_header_main .pen_container {
		width: 100%;
	}
	body.pen_width_boxed #pen_header .pen_header_main .pen_container,
	body.pen_width_standard #pen_header .pen_header_main .pen_container,
	body.pen_width_wide #pen_header .pen_header_main .pen_container {
		width: 95%;
	}
	#content {
		min-height: 500px;
	}
	body.visible-sidebar-search-left.invisible-sidebar-search-right #pen_search_left .pen_widget_transparent {
		padding-left: 2rem;
	}
	body.visible-sidebar-search-right.invisible-sidebar-search-left #pen_search_right .pen_widget_transparent {
		padding-right: 2rem;
	}
	body.visible-sidebar-search-right #pen_search_right,
	body.visible-sidebar-search-left #pen_search_form {
		float: right;
	}
	body.visible-sidebar-search-left #pen_search_left,
	body.visible-sidebar-search-right #pen_search_right {
		width: 30%;
	}
	body.visible-sidebar-search-left #pen_search_left {
		padding-right: 1rem;
	}
	body.visible-sidebar-search-right #pen_search_right {
		padding-left: 1rem;
	}
	body.visible-sidebar-search-left #pen_search_form,
	body.visible-sidebar-search-right #pen_search_form {
		width: 70%;
	}
	body.visible-sidebar-search-left.visible-sidebar-search-right #pen_search_form {
		float: left;
		padding: 0 1rem;
		width: 50%;
	}
	body.visible-sidebar-search-left.visible-sidebar-search-right #pen_search_left,
	body.visible-sidebar-search-left.visible-sidebar-search-right #pen_search_right {
		width: 25%;
	}
	body.pen_width_default #page .pen_container,
	body.pen_width_standard #page .pen_container {
		max-width: 1200px;
	}
	#pen_left,
	#pen_right {
		position: absolute !important;
		top: 1.5rem;
		width: 20%;
	}
	#pen_left.pen_sidebar_sticky,
	#pen_right.pen_sidebar_sticky {
		transition: bottom .2s, top .2s;
	}
	body.pen_sidebar_left_width_10 #pen_left,
	body.pen_sidebar_right_width_10 #pen_right {
		width: 10%;
	}
	body.pen_sidebar_left_width_20 #pen_left,
	body.pen_sidebar_right_width_20 #pen_right {
		width: 20%;
	}
	body.pen_sidebar_left_width_25 #pen_left,
	body.pen_sidebar_right_width_25 #pen_right {
		width: 25%;
	}
	body.pen_sidebar_left_width_30 #pen_left,
	body.pen_sidebar_right_width_30 #pen_right {
		width: 30%;
	}
	body.pen_sidebar_left_width_40 #pen_left,
	body.pen_sidebar_right_width_40 #pen_right {
		width: 40%;
	}
	#pen_left {
		left: 0;
	}
	#pen_right {
		right: 0;
	}
	body.pen_width_narrow #pen_left,
	body.pen_width_narrow #pen_right {
		position: static !important;
	}
	body.pen_width_narrow #primary {
		width: 100%;
	}
	body.pen_main_container_left #primary {
		float: left;
	}
	body.pen_main_container_right #primary {
		float: right;
	}
	body.pen_main_container_left #pen_left {
		left: auto;
		right: 0;
	}
	body.pen_main_container_right #pen_right {
		left: 0;
		right: auto;
	}
	body.pen_sidebar_right_width_10.visible-sidebar-right.pen_main_container_left #pen_left {
		right: 11%;
	}
	body.pen_sidebar_right_width_20.visible-sidebar-right.pen_main_container_left #pen_left {
		right: 21%;
	}
	body.pen_sidebar_right_width_25.visible-sidebar-right.pen_main_container_left #pen_left {
		right: 26%;
	}
	body.pen_sidebar_right_width_30.visible-sidebar-right.pen_main_container_left #pen_left {
		right: 31%;
	}
	body.pen_sidebar_right_width_40.visible-sidebar-right.pen_main_container_left #pen_left {
		right: 41%;
	}
	body.pen_sidebar_left_width_10.visible-sidebar-left.pen_main_container_right #pen_right {
		left: 11%;
	}
	body.pen_sidebar_left_width_20.visible-sidebar-left.pen_main_container_right #pen_right {
		left: 21%;
	}
	body.pen_sidebar_left_width_25.visible-sidebar-left.pen_main_container_right #pen_right {
		left: 26%;
	}
	body.pen_sidebar_left_width_30.visible-sidebar-left.pen_main_container_right #pen_right {
		left: 31%;
	}
	body.pen_sidebar_left_width_40.visible-sidebar-left.pen_main_container_right #pen_right {
		left: 41%;
	}
	body.pen_sidebar_left_width_10.visible-sidebar-left #primary {
		padding-left: 11%;
	}
	body.pen_sidebar_right_width_10.visible-sidebar-right #primary {
		padding-right: 11%;
	}
	body.pen_sidebar_left_width_20.visible-sidebar-left #primary {
		padding-left: 21%;
	}
	body.pen_sidebar_right_width_20.visible-sidebar-right #primary {
		padding-right: 21%;
	}
	body.pen_sidebar_left_width_25.visible-sidebar-left #primary {
		padding-left: 26%;
	}
	body.pen_sidebar_right_width_25.visible-sidebar-right #primary {
		padding-right: 26%;
	}
	body.pen_sidebar_left_width_30.visible-sidebar-left #primary {
		padding-left: 31%;
	}
	body.pen_sidebar_right_width_30.visible-sidebar-right #primary {
		padding-right: 31%;
	}
	body.pen_sidebar_left_width_40.visible-sidebar-left #primary {
		padding-left: 41%;
	}
	body.pen_sidebar_right_width_40.visible-sidebar-right #primary {
		padding-right: 41%;
	}
	body.pen_sidebar_left_width_10.visible-sidebar-left.pen_main_container_left #primary {
		padding-right: 11%;
	}
	body.pen_sidebar_left_width_20.visible-sidebar-left.pen_main_container_left #primary {
		padding-right: 21%;
	}
	body.pen_sidebar_left_width_25.visible-sidebar-left.pen_main_container_left #primary {
		padding-right: 26%;
	}
	body.pen_sidebar_left_width_30.visible-sidebar-left.pen_main_container_left #primary {
		padding-right: 31%;
	}
	body.pen_sidebar_left_width_40.visible-sidebar-left.pen_main_container_left #primary {
		padding-right: 41%;
	}
	body.pen_sidebar_right_width_10.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 11%;
	}
	body.pen_sidebar_right_width_20.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 21%;
	}
	body.pen_sidebar_right_width_25.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 26%;
	}
	body.pen_sidebar_right_width_30.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 31%;
	}
	body.pen_sidebar_right_width_40.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 41%;
	}
	body.pen_sidebar_left_width_10.pen_sidebar_right_width_10.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary {
		padding-right: 22%;
	}
	body.pen_sidebar_left_width_10.pen_sidebar_right_width_20.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_20.pen_sidebar_right_width_10.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary {
		padding-right: 32%;
	}
	body.pen_sidebar_left_width_10.pen_sidebar_right_width_25.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_25.pen_sidebar_right_width_10.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary {
		padding-right: 37%;
	}
	body.pen_sidebar_left_width_10.pen_sidebar_right_width_30.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_20.pen_sidebar_right_width_20.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_30.pen_sidebar_right_width_10.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary {
		padding-right: 42%;
	}
	body.pen_sidebar_left_width_20.pen_sidebar_right_width_25.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_25.pen_sidebar_right_width_20.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary {
		padding-right: 47%;
	}
	body.pen_sidebar_left_width_10.pen_sidebar_right_width_40.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_20.pen_sidebar_right_width_30.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_25.pen_sidebar_right_width_25.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_30.pen_sidebar_right_width_20.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_40.pen_sidebar_right_width_10.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary {
		padding-right: 52%;
	}
	body.pen_sidebar_left_width_25.pen_sidebar_right_width_30.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_30.pen_sidebar_right_width_25.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary {
		padding-right: 57%;
	}
	body.pen_sidebar_left_width_20.pen_sidebar_right_width_40.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_30.pen_sidebar_right_width_30.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_40.pen_sidebar_right_width_20.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary {
		padding-right: 62%;
	}
	body.pen_sidebar_left_width_25.pen_sidebar_right_width_40.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_40.pen_sidebar_right_width_25.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary {
		padding-right: 67%;
	}
	body.pen_sidebar_left_width_30.pen_sidebar_right_width_40.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary,
	body.pen_sidebar_left_width_40.pen_sidebar_right_width_30.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary {
		padding-right: 72%;
	}
	body.pen_sidebar_left_width_40.pen_sidebar_right_width_40.visible-sidebar-left.visible-sidebar-right.pen_main_container_left #primary {
		padding-right: 82%;
	}
	body.pen_sidebar_left_width_10.pen_sidebar_right_width_10.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 22%;
	}
	body.pen_sidebar_left_width_10.pen_sidebar_right_width_20.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_20.pen_sidebar_right_width_10.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 32%;
	}
	body.pen_sidebar_left_width_10.pen_sidebar_right_width_25.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_25.pen_sidebar_right_width_10.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 37%;
	}
	body.pen_sidebar_left_width_10.pen_sidebar_right_width_30.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_20.pen_sidebar_right_width_20.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_30.pen_sidebar_right_width_10.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 42%;
	}
	body.pen_sidebar_left_width_20.pen_sidebar_right_width_25.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_25.pen_sidebar_right_width_20.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 47%;
	}
	body.pen_sidebar_left_width_10.pen_sidebar_right_width_40.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_20.pen_sidebar_right_width_30.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_25.pen_sidebar_right_width_25.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_30.pen_sidebar_right_width_20.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_40.pen_sidebar_right_width_10.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 52%;
	}
	body.pen_sidebar_left_width_25.pen_sidebar_right_width_30.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_30.pen_sidebar_right_width_25.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 57%;
	}
	body.pen_sidebar_left_width_20.pen_sidebar_right_width_40.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_30.pen_sidebar_right_width_30.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_40.pen_sidebar_right_width_20.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 62%;
	}
	body.pen_sidebar_left_width_25.pen_sidebar_right_width_40.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_40.pen_sidebar_right_width_25.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 67%;
	}
	body.pen_sidebar_left_width_30.pen_sidebar_right_width_40.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary,
	body.pen_sidebar_left_width_40.pen_sidebar_right_width_30.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 72%;
	}
	body.pen_sidebar_left_width_40.pen_sidebar_right_width_40.visible-sidebar-left.visible-sidebar-right.pen_main_container_right #primary {
		padding-left: 82%;
	}
	body.visible-sidebar-left.pen_main_container_left #primary {
		padding-left: 0;
	}
	body.visible-sidebar-right.pen_main_container_right #primary {
		padding-right: 0;
	}
	body.pen_width_narrow #primary {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	#pen_tiles .pen_article,
	body.pen_tiles_columns_4 #pen_tiles .pen_article,
	#pen_masonry .pen_article,
	body.pen_masonry_columns_4 #pen_masonry .pen_article {
		width: 24% !important;
	}
	body.pen_tiles_columns_5 #pen_tiles .pen_article,
	body.pen_masonry_columns_5 #pen_masonry .pen_article {
		width: 19% !important;
	}
	body.pen_tiles_columns_5.visible-sidebar-left #pen_tiles .pen_article,
	body.pen_tiles_columns_5.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_tiles_columns_4.visible-sidebar-left #pen_tiles .pen_article,
	body.pen_tiles_columns_4.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_tiles_columns_3 #pen_tiles .pen_article,
	body.pen_masonry_columns_5.visible-sidebar-left #pen_masonry .pen_article,
	body.pen_masonry_columns_5.visible-sidebar-right #pen_masonry .pen_article,
	body.pen_masonry_columns_4.visible-sidebar-left #pen_masonry .pen_article,
	body.pen_masonry_columns_4.visible-sidebar-right #pen_masonry .pen_article,
	body.pen_masonry_columns_3 #pen_masonry .pen_article {
		width: 32.33% !important;
	}
	body.visible-sidebar-left.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_tiles_columns_5.visible-sidebar-left.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_tiles_columns_4.visible-sidebar-left.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_tiles_columns_3.visible-sidebar-right.visible-sidebar-left #pen_tiles .pen_article,
	body.pen_tiles_columns_2 #pen_tiles .pen_article,
	body.visible-sidebar-left.visible-sidebar-right #pen_masonry .pen_article,
	body.pen_masonry_columns_5.visible-sidebar-left.visible-sidebar-right #pen_masonry .pen_article,
	body.pen_masonry_columns_4.visible-sidebar-left.visible-sidebar-right #pen_masonry .pen_article,
	body.pen_masonry_columns_3.visible-sidebar-right.visible-sidebar-left #pen_masonry .pen_article,
	body.pen_masonry_columns_2 #pen_masonry .pen_article {
		width: 49% !important;
	}
	body.pen_tiles_columns_4 #pen_tiles .pen_article .mejs-controls div.mejs-time-rail,
	body.pen_masonry_columns_4 #pen_masonry .pen_article .mejs-controls div.mejs-time-rail {
		max-width: 100px;
	}
	body.pen_tiles_columns_4 #pen_tiles .pen_article .mejs-controls .mejs-time-rail span,
	body.pen_tiles_columns_4 #pen_tiles .pen_article .mejs-controls .mejs-time-rail a,
	body.pen_masonry_columns_4 #pen_masonry .pen_article .mejs-controls .mejs-time-rail span,
	body.pen_masonry_columns_4 #pen_masonry .pen_article .mejs-controls .mejs-time-rail a {
		max-width: 80px;
	}
	body.pen_tiles_columns_5 #pen_tiles .pen_article .mejs-controls div.mejs-time-rail,
	body.pen_masonry_columns_5 #pen_masonry .pen_article .mejs-controls div.mejs-time-rail {
		max-width: 90px;
	}
	body.pen_tiles_columns_5 #pen_tiles .mejs-controls .mejs-time-rail span,
	body.pen_tiles_columns_5 #pen_tiles .mejs-controls .mejs-time-rail a,
	body.pen_masonry_columns_5 #pen_masonry .mejs-controls .mejs-time-rail span,
	body.pen_masonry_columns_5 #pen_masonry .mejs-controls .mejs-time-rail a {
		max-width: 70px;
	}
	#pen_footer_left,
	#pen_footer_right {
		float: left;
		width: 28%;
	}
	#pen_footer_right {
		float: right;
	}
	body.visible-sidebar-footer-left #pen_footer .pen_footer_inner,
	body.visible-sidebar-footer-right #pen_footer .pen_footer_inner {
		width: 70%;
	}
	body.visible-sidebar-footer-left.visible-sidebar-footer-right #pen_footer .pen_footer_inner {
		width: 40%;
	}
	body.pen_width_narrow,
	body.pen_width_narrow #pen_left,
	body.pen_width_narrow #pen_right,
	body.pen_width_narrow #pen_footer .pen_footer_inner,
	body.pen_width_narrow #pen_footer_left,
	body.pen_width_narrow #pen_footer_right {
		float: left;
		width: 100%;
	}
	body.pen_width_narrow #page .pen_wrapper {
		margin: 0 auto;
		max-width: 50vw !important;
		width: 640px;
	}
	body.pen_width_narrow #primary {
		margin: 0 0 1rem;
	}
	body.pen_width_narrow #pen_content_top,
	body.pen_width_narrow #pen_content_bottom {
		padding: 1rem;
	}
	body.pen_width_narrow #pen_bottom {
		float: left;
		padding: 1rem;
		width: 100%;
	}
	body.pen_width_narrow #pen_tiles .pen_article,
	body.pen_width_narrow.pen_tiles_columns_4 #pen_tiles .pen_article,
	body.pen_width_narrow #pen_masonry .pen_article,
	body.pen_width_narrow.pen_masonry_columns_4 #pen_masonry .pen_article,
	body.pen_width_narrow.pen_tiles_columns_5 #pen_tiles .pen_article,
	body.pen_width_narrow.pen_masonry_columns_5 #pen_masonry .pen_article,
	body.pen_width_narrow.pen_tiles_columns_5.visible-sidebar-left #pen_tiles .pen_article,
	body.pen_width_narrow.pen_tiles_columns_5.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_width_narrow.pen_tiles_columns_4.visible-sidebar-left #pen_tiles .pen_article,
	body.pen_width_narrow.pen_tiles_columns_4.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_width_narrow.pen_tiles_columns_3 #pen_tiles .pen_article,
	body.pen_width_narrow.pen_masonry_columns_5.visible-sidebar-left #pen_masonry .pen_article,
	body.pen_width_narrow.pen_masonry_columns_5.visible-sidebar-right #pen_masonry .pen_article,
	body.pen_width_narrow.pen_masonry_columns_4.visible-sidebar-left #pen_masonry .pen_article,
	body.pen_width_narrow.pen_masonry_columns_4.visible-sidebar-right #pen_masonry .pen_article,
	body.pen_width_narrow.pen_masonry_columns_3 #pen_masonry .pen_article,
	body.pen_width_narrow.visible-sidebar-left.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_width_narrow.pen_tiles_columns_5.visible-sidebar-left.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_width_narrow.pen_tiles_columns_4.visible-sidebar-left.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_width_narrow.pen_tiles_columns_3.visible-sidebar-right.visible-sidebar-left #pen_tiles .pen_article,
	body.pen_width_narrow.pen_tiles_columns_2 #pen_tiles .pen_article,
	body.pen_width_narrow.visible-sidebar-left.visible-sidebar-right #pen_masonry .pen_article,
	body.pen_width_narrow.pen_masonry_columns_5.visible-sidebar-left.visible-sidebar-right #pen_masonry .pen_article,
	body.pen_width_narrow.pen_masonry_columns_4.visible-sidebar-left.visible-sidebar-right #pen_masonry .pen_article,
	body.pen_width_narrow.pen_masonry_columns_3.visible-sidebar-right.visible-sidebar-left #pen_masonry .pen_article,
	body.pen_width_narrow.pen_masonry_columns_2 #pen_masonry .pen_article {
		margin-left: 0 !important;
		margin-right: 0 !important;
		width: 100% !important;
	}
}
@media only screen and (min-width:728px) and (max-width:1024px) {
	#page {
		max-width: 100vw !important;
	}
	#content {
		min-height: 500px;
	}
	#pen_footer_left,
	#pen_footer_right {
		float: left;
		width: 28%;
	}
	#pen_footer_right {
		float: right;
	}
	body.visible-sidebar-footer-left #pen_footer .pen_footer_inner,
	body.visible-sidebar-footer-right #pen_footer .pen_footer_inner {
		width: 70%;
	}
	body.visible-sidebar-footer-left.visible-sidebar-footer-right #pen_footer .pen_footer_inner {
		width: 40%;
	}
}
@media only screen and (min-width:728px) and (max-width:1024px) and (orientation:portrait) {
	body.visible-sidebar-left.visible-sidebar-right #primary,
	body.visible-sidebar-left.visible-sidebar-right #pen_left,
	body.visible-sidebar-left.visible-sidebar-right #pen_right {
		left: auto !important;
		position: static !important;
		right: auto !important;
		top: auto !important;
		width: 100%;
	}
	body.visible-sidebar-left.visible-sidebar-right #primary {
		padding-left: 0;
		padding-right: 0;
	}
	body.pen_tiles_columns_4 #pen_tiles .pen_article,
	body.pen_tiles_columns_5 #pen_tiles .pen_article,
	body.pen_masonry_columns_4 #pen_masonry .pen_article,
	body.pen_masonry_columns_5 #pen_masonry .pen_article {
		width: 32.33% !important;
	}
	body.pen_tiles_columns_4.visible-sidebar-left #pen_tiles .pen_article,
	body.pen_tiles_columns_4.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_tiles_columns_5.visible-sidebar-left #pen_tiles .pen_article,
	body.pen_tiles_columns_5.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_masonry_columns_4.visible-sidebar-left #pen_masonry .pen_article,
	body.pen_masonry_columns_4.visible-sidebar-right #pen_masonry .pen_article,
	body.pen_masonry_columns_5.visible-sidebar-left #pen_masonry .pen_article,
	body.pen_masonry_columns_5.visible-sidebar-right #pen_masonry .pen_article {
		width: 49% !important;
	}
	body.pen_tiles_columns_4.visible-sidebar-left.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_tiles_columns_5.visible-sidebar-left.visible-sidebar-right #pen_tiles .pen_article,
	body.pen_masonry_columns_4.visible-sidebar-left.visible-sidebar-right #pen_masonry .pen_article,
	body.pen_masonry_columns_5.visible-sidebar-left.visible-sidebar-right #pen_masonry .pen_article {
		margin-left: 0 !important;
		margin-right: 0 !important;
		width: 100% !important;
	}
}
@media only screen and (max-width:728px) {
	#page {
		max-width: 100vw !important;
	}
	body.pen_width_boxed #page .pen_wrapper,
	body.pen_width_narrow #page .pen_wrapper {
		margin: 0 auto;
		width: 95%;
	}
	#primary {
		margin: 0 0 1rem;
	}
	#content,
	#pen_search,
	#pen_content_top,
	#pen_content_bottom,
	#pen_bottom,
	#pen_footer {
		padding: 1rem;
	}
	#pen_left,
	#pen_right {
		margin-bottom: 0;
	}
	#pen_left,
	#pen_right,
	#pen_bottom {
		float: left;
		padding: 1rem 0;
		width: 100%;
	}
	body.visible-sidebar-search-top #pen_search_top,
	body.visible-sidebar-search-left #pen_search_left,
	body.visible-sidebar-search-right #pen_search_form {
		margin-bottom: 1rem;
	}
	html,
	body,
	#page,
	#pen_footer .pen_footer_inner,
	#pen_footer_left,
	#pen_footer_right {
		float: left;
		width: 100%;
	}
}
