@media (prefers-color-scheme: dark) {
	#main .pen_article dd {
		border-left: 4px solid rgba(120,120,120,0.3);
	}
	#main .pen_article p abbr {
		background: rgba(120,120,120,0.3);
	}
	#main .pen_article *[class=""] > blockquote {
		background: rgba(200,200,200,0.1);
		border: 1px solid rgba(200,200,200,0.2);
	}
	#main .pen_article blockquote:before {
		color: rgba(200,200,200,0.25);
	}
	#main .pen_article pre,
	#main .pen_article code {
		background: #333;
		color: #eee;
	}
	#main .pen_article pre {
		border: 1px solid #333;
		border-left-color: #000;
		border-top-color: #000;
	}
	body.pen_drop_shadow #main .pen_article pre {
		box-shadow: 2px 2px 3px rgba(0,0,0,0.5) inset, 1px 1px 0 rgba(255,255,255,0.15) inset;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
	}
	body.pen_drop_shadow #main .pen_article code {
		text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
	}
	body.pen_dark_mode #main .pen_article pre,
	body.pen_dark_mode #main .pen_article code {
		background: #ccc;
		color: #333;
	}
	body.pen_dark_mode #main .pen_article pre {
		border: 1px solid #eee;
		border-left-color: #aaa;
		border-top-color: #aaa;
	}
}
body.pen_dark_mode #main .pen_article pre,
body.pen_dark_mode #main .pen_article code {
	background: #ccc;
	color: #333;
}
body.pen_dark_mode #main .pen_article pre {
	border: 1px solid #eee;
	border-left-color: #aaa;
	border-top-color: #aaa;
}