@media (prefers-color-scheme: dark) {
	#page .pen_loading {
		background: rgba(0,0,0,0.85);
		color: rgba(255,255,255,0.5);
	}
	body.pen_drop_shadow #page .pen_loading {
		text-shadow: 1px 1px 10px rgba(0,0,0,0.25);
	}
	body.pen_loading_spinner_style_1 #page .pen_loading .pen_icon:before {
		border-top-color: rgba(255,255,255,0.1) !important;
		border-right-color: rgba(255,255,255,0.1) !important;
		border-bottom-color: rgba(255,255,255,0.1) !important;
		border-left-color: rgba(255,255,255,0.75) !important;
	}
	body.pen_loading_spinner_style_2 #page .pen_loading .pen_icon:before {
		border-top-color: rgba(255,255,255,0.1) !important;
		border-right-color: rgba(255,255,255,0.75) !important;
		border-bottom-color: rgba(255,255,255,0.1) !important;
		border-left-color: rgba(255,255,255,0.75) !important;
	}
	body.pen_loading_spinner_style_3 #page .pen_loading .pen_icon:before {
		border-top-color: rgba(255,255,255,0.1) !important;
		border-right-color: rgba(255,255,255,0.1) !important;
		border-bottom-color: rgba(255,255,255,0.1) !important;
		border-left-color: rgba(255,255,255,0.5) !important;
	}
	body.pen_loading_spinner_style_4 #page .pen_loading .pen_icon:before {
		border-top-color: rgba(255,255,255,0.25) !important;
		border-right-color: rgba(255,255,255,0.25) !important;
		border-bottom-color: rgba(255,255,255,0.25) !important;
		border-left-color: rgba(255,255,255,0.75) !important;
	}
}