@media (prefers-color-scheme: dark) {
	#pen_search.pen_not_transparent {
		background: #8f8f8f;
		background: linear-gradient(125deg, #3f3f3f 0%, #0f0f0f 100%);
	}
	body.pen_drop_shadow #pen_search.pen_not_transparent {
		box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 0 5px rgba(0,0,0,0.25);
	}
	body.pen_dark_mode #pen_search.pen_not_transparent {
		background: #333;
		background: linear-gradient(125deg, #111 0%, #000 100%);
	}
	#pen_search.pen_not_transparent:before {
		background: rgba(0,0,0,0.25);
	}
	body.pen_dark_mode #pen_search.pen_not_transparent:before {
		background: rgba(255,255,255,0.1);
	}
	#pen_search input::-webkit-input-placeholder,
	#pen_search select::-webkit-input-placeholder,
	#pen_search textarea::-webkit-input-placeholder {
		color: #333 !important;
	}
	#pen_search input::-moz-placeholder,
	#pen_search select::-moz-placeholder,
	#pen_search textarea::-moz-placeholder {
		color: #333 !important;
	}
	#pen_search input:-ms-input-placeholder,
	#pen_search select:-ms-input-placeholder,
	#pen_search textarea:-ms-input-placeholder {
		color: #333 !important;
	}
	#pen_search .widget {
		color: #eee;
	}
	body.pen_drop_shadow #pen_search .widget {
		text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	}
	#pen_search .widget a {
		color: #80ddff;
	}
	#pen_search .widget a:focus,
	#pen_search .widget a:hover,
	#pen_search .widget a:active {
		color: #cdf1ff;
	}
	body.pen_dark_mode #pen_search input::-webkit-input-placeholder,
	body.pen_dark_mode #pen_search select::-webkit-input-placeholder,
	body.pen_dark_mode #pen_search textarea::-webkit-input-placeholder {
		color: #eee !important;
	}
	body.pen_dark_mode #pen_search input::-moz-placeholder,
	body.pen_dark_mode #pen_search select::-moz-placeholder,
	body.pen_dark_mode #pen_search textarea::-moz-placeholder {
		color: #eee !important;
	}
	body.pen_dark_mode #pen_search input:-ms-input-placeholder,
	body.pen_dark_mode #pen_search select:-ms-input-placeholder,
	body.pen_dark_mode #pen_search textarea:-ms-input-placeholder {
		color: #eee !important;
	}
	body.pen_dark_mode #pen_search .widget {
		color: #eee;
	}
	body.pen_dark_mode.pen_drop_shadow #pen_search .widget {
		text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
	}
	body.pen_dark_mode #pen_search .widget a {
		color: #eee;
	}
	body.pen_dark_mode #pen_search .widget a:focus,
	body.pen_dark_mode #pen_search .widget a:hover,
	body.pen_dark_mode #pen_search .widget a:active {
		color: #fff;
	}
	#pen_search .search-form .search-field {
		background: rgba(255,255,255,0.9);
		border: 1px solid rgba(0,0,0,0.3);
	}
	body.pen_drop_shadow #pen_search .search-form .search-field {
		box-shadow: 1px 1px 1px rgba(255,255,255,0.05) inset, 0 0 7px rgba(0,0,0,0.2), 2px 2px 4px rgba(0,0,0,0.3), 5px 5px 10px rgba(0,0,0,0.2) inset;
	}
	body.pen_dark_mode #pen_search .search-form .search-field {
		background: rgba(10,10,10,0.5);
		border: 1px solid rgba(255,255,255,0.1);
	}
}
body.pen_dark_mode #pen_search.pen_not_transparent {
	background: #333;
	background: linear-gradient(125deg, #111 0%, #000 100%);
}
body.pen_dark_mode #pen_search.pen_not_transparent:before {
	background: rgba(255,255,255,0.1);
}
body.pen_dark_mode #pen_search input::-webkit-input-placeholder,
body.pen_dark_mode #pen_search select::-webkit-input-placeholder,
body.pen_dark_mode #pen_search textarea::-webkit-input-placeholder {
	color: #eee !important;
}
body.pen_dark_mode #pen_search input::-moz-placeholder,
body.pen_dark_mode #pen_search select::-moz-placeholder,
body.pen_dark_mode #pen_search textarea::-moz-placeholder {
	color: #eee !important;
}
body.pen_dark_mode #pen_search input:-ms-input-placeholder,
body.pen_dark_mode #pen_search select:-ms-input-placeholder,
body.pen_dark_mode #pen_search textarea:-ms-input-placeholder {
	color: #eee !important;
}
body.pen_dark_mode #pen_search .widget {
	color: #eee;
}
body.pen_dark_mode.pen_drop_shadow #pen_search .widget {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}
body.pen_dark_mode #pen_search .widget a {
	color: #eee;
}
body.pen_dark_mode #pen_search .widget a:focus,
body.pen_dark_mode #pen_search .widget a:hover,
body.pen_dark_mode #pen_search .widget a:active {
	color: #fff;
}
body.pen_dark_mode #pen_search .search-form .search-field {
	background: rgba(10,10,10,0.5);
	border: 1px solid rgba(255,255,255,0.1);
}