@media (prefers-color-scheme: dark) {
	#primary .pen_article table {
		background: rgba(170,170,170,0.025);
	}
	#primary .pen_article table th,
	#primary .pen_article table td {
		background: rgba(170,170,170,0.05);
		border: 1px solid rgba(170,170,170,0.1);
	}
	#primary .pen_article table th {
		background: rgba(170,170,170,0.025);
	}
	#primary .pen_article table tr:nth-child(2n+1) td {
		background: rgba(170,170,170,0.05);
	}
}