/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.menu-two{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-two
{
	position: relative;
}

.main-navigation .nav-menu>.menu-item>a:hover {
	color: #fd7e14 !important;
}

.main-menu ul ul.sub-menu a::before {
	background-color: #fd7e14 !important;
}

.main-navigation .nav-menu>.menu-item-has-children > .sub-menu li a:before {
	background-color: #fd7e14 !important;
}

.main-menu ul ul.sub-menu a:hover, .navbar-expand-lg a:hover {
	color: #fd7e14 !important;
}

.top-bar{
  background-color: #282828;
  padding: 20px 0
}

.top-bar .social-icon{
  display: flex;
  align-items: center;
}

.top-bar .social-icon i{
  color: #fff;
  font-size: 17px;
  width: 35px;
  text-align: center;
  height: 35px;
  border-radius: 50px;
  line-height: 35px;
  background: #282828;
  transition: 0.5s;
}

.top-bar .social-icon i:hover{
  background-color: #fd7e14 !important;
}

.top-bar .content{
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.top-bar .content:last-child{
  margin-right: 0;
}

.top-bar .content .icon i{
  color: #fd7e14 !important;
  font-size: 25px;
  margin-right: 15px;
}

.top-bar .content .details p{
  margin-bottom: 0;
  font-size: 14px;
  color: #A5A5A5;
}

.top-bar .content .details p.light{
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.top-bar .content .details p.light:hover{
  color: #fd7e14 !important;
}

/*=================================
Home Area
====================================*/
.hero-sec {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-blend-mode: overlay;
} 

.hero-sec .content-sec {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  padding-top: 100px;
  -webkit-transform: translate(-50%, -50%);
}

.hero-sec .content-sec .section-title {
  text-shadow: 0px 7px 10px rgb(0 0 0 / 10%);
  text-transform: capitalize;
  width: 800px;
  color: #fd7e14;
  margin: auto;
  text-align: center;
  font-size: 75px;
  line-height: 90px;
}

.hero-sec .content-sec .heading__description p {
  width: 800px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  max-width: 950px;
  line-height: 30px;
  padding: 50px;
}

.btn-wraper{
  display: flex;
  justify-content: center;
  position: relative;
  padding: 25px;
}

.hero-sec .content-sec .readmore-btn{
    padding: 20px 40px 20px 40px;
    margin: 5px;
    font-size: 12px;
    border-radius: 50px;
    font-weight: bold;
    color: #fd7e14;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    transition: all 0.4s linear;
    box-shadow: 0px 15px 25px 0px rgb(0 0 0 / 10%);
}

.hero-sec .content-sec .readmore-btn:hover {
    background-color: #fd7e14;
    color: #fff;
    border: 2px solid #fff;
}

@media screen and (max-width: 991px) {
  .hero-sec .content-sec .section-title {
    text-align: center;
    margin: auto;
    width: 500px;
    font-size: 70px;
  }
  .hero-sec .content-sec .heading__description p {
  	margin-left: -50px;
  }
}


@media screen and (max-width: 769px) {
  .hero-sec .content-sec .section-title {
    text-align: center;
    font-size: 55px;
  }
}

@media screen and (max-width: 675px) {
  .hero-sec .content-sec .section-title {
    text-align: center;
    font-size: 40px;
    margin: auto;
    line-height: 42px;
    width: 409px;
  }
  .hero-sec .content-sec .heading__description p {
  	width: 600px;
  	margin-left: -50px;
  }
}

@media screen and (max-width: 767px) {
  .hero-sec .content-sec .section-title {
    text-align: center;
    font-size: 40px;
    margin: auto;
    line-height: 42px;
    width: 500px;
  }
  .hero-sec .content-sec .heading__description p {
  	width: 600px;
  }
}



@media screen and (max-width: 574px) {
  .hero-sec .content-sec .section-title {
    text-align: center;
    font-size: 40px;
    margin: auto;
    line-height: 42px;
    width: 350px;
  }

  .hero-sec .content-sec .heading__description p {
  	width: 400px;
  	margin: auto;
  }
}


@media screen and (max-width: 375px) {
  .hero-sec .content-sec .section-title {
    text-align: center;
    font-size: 40px;
    margin: auto;
    line-height: 42px;
    width: 320px;
  }

  .hero-sec .content-sec .heading__description p {
  	width: 300px;
  	margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .hero-sec .content-sec .section-title {
    text-align: center;
    font-size: 35px;
    margin: auto;
    line-height: 42px;
    width: 280px;
 }
}


/*=================================
slider Area End
====================================*/


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
@media (min-width: 992px){
  section {
    padding: 100px 0;
    overflow: hidden;
    position: relative;
  }
}

@media (max-width: 992px){
  section {
    padding: 65px 0;
    overflow: hidden;
    position: relative;
  }
  section.home7-hero-sec {
    padding: 100px 0;
  }
}

.services-5 {
	background-color: #f3f3f3;
}

.section-title-5 {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title-5 h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.section-title-5 .separator {
    position: relative;
    margin: 10px auto 0px;
    width: 120px;
}

.section-title-5 .separator ul {
    padding: 0px;
    margin: 0px;
}

.section-title-5 .separator ul::before {
    content: '';
    width: 50px;
    height: 4px;
    background: #c9c9c9;
    left: -18px;
    top: 47%;
    position: absolute;
    border-radius: 50px;
}

.section-title-5 .separator ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: #fd7e14 !important;
}

.section-title-5 .separator ul::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background: #c9c9c9;
    right: -18px;
    top: 47%;
    border-radius: 50px;
}

.section-title-5 p {
  margin: 25px;
  color: #838383;
  font-weight: 500;
}

.section-bg {
  color: #fff;
}

.section-bg:before {
  content: "";
  background: #f1f1f1a6;
  position: absolute;
  bottom: 0px;
  top: 0;
  left: -5px;
  right: 0;
}

.cl-white{
  color: #fff;
}

.cta-5{
  padding: 150px 0;
  position: relative;
  background-image: url(../img/home-5/cta1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cta-5:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
}

.cta-5 h3{
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

.cta-5 h2{
  color: #fff;
  width: 45%;
  margin: auto; 
  font-size: 48px;
  letter-spacing: 1px;
}

.cta-2{
  position: relative;
  padding: 115px 0;
  background: url(../img/cta/bg.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.cta-2 .cta-content .sub-title{
  margin-bottom: 0;
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px;
  color: #1b1d21;
}

.cta-2 .cta-content .cta-description{
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: justify;
}


/* feature section css*/

.feature-sec {
  padding: 100px;
  position: relative;
  width: 100%;
  background: transparent;
}

.feature-sec .feature-box{
    position: relative;
    background: #fff;
    text-align: center;
    padding: 48px 35px 40px;
    box-shadow: 8px 8px 30px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    transition: all 0.3s linear;
}

.feature-sec .feature-box:hover{
  margin-top: -10px;
  background-color: #fd7e14 !important;
}

.buco .feature-box:hover .icon {
	background-color: #000 !important;
}

.feature-sec .feature-box:hover .icon{
    color: #FFFFFF !important;
    border: 1px solid #fff;
}

.feature-sec .feature-box:hover a,
.feature-sec .feature-box:hover p{
    color: #FFFFFF !important;
}

.feature-sec .feature-box:before{
    position: absolute;
    content: "";
    width: 70px;
    height: 3px;
    bottom: 0px;
    left: 50%;
    opacity: 1;
    margin-left: -35px;
    background: #fd7e14 !important;
    border-radius: 1.5px;
    transition: all 0.3s linear;
}

.feature-sec .feature-box:hover:before{
  opacity: 1;
  background-color: #000 !important;
}

.feature-sec .feature-box .icon{
    display: inline-block;
    color: #fd7e14 !important;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 45px;
    margin-bottom: 17px;
    text-align:center;
    background: #1905011f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.feature-sec .feature-box .content .title-box{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.2;
}

.feature-sec .feature-box .content .title-box a {
    color: #1b1d21;
}

.feature-sec .feature-box .link-details {
    margin-top: 18px;
    color: #fd7e14 !important;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s linear;
}

.feature-sec .feature-box:hover .link-details i {
    background-color: #000;
}

.feature-sec .feature-box .link-details i {
    margin-right: 8px;
    transition: margin 0.3s ease;
    padding: 14px;
     border: 1px solid transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* about css */

.about{
  position: relative;
  background-color: #fff;
}

.about .about-content{
    text-align: left;
    padding: 60px 40px 10px 40px;
}

.about .title-inner .section-subtitle{
    color: #fd7e14 !important;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px 0px 15px 0px
}

.about .title-inner .title {
    color: #292929;
    margin: 0px 0px 15px 0px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}

.about .description p{
  text-align: left;
  line-height: 25px;
  color: #7a7a7a;
}

.infobox {
    display: flex;
    padding: 0px;
}

.infobox .box-body {
    position: relative;
    z-index: 2;
    margin-left: 15px;
}

.infobox .box-header i{
  font-size: 30px;
  color: #fd7e14 !important;
}

.infobox .info-box-title {
    padding: 0px 0px 0px 0px;
    color: #292929;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.about .btn-wraper{
  justify-content: flex-start;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services-5 .service-box {
  padding: 30px 55px 38px 50px;
  text-align: center;
  transition: all 0.2s;
  margin-top: 20px;
  margin-left: -5px;
  box-shadow: 8px 8px 30px 0 rgb(0 0 0 / 20%);
}

.service-box:hover {
	background-color: #000;
}

.service-box:hover p {
	color: #fff;
}

.service-box:hover i {
	color: #fff !important;
}

.services-5 .service-box h4 {
  margin: 30px 0;
}

.services-5 .service-box i {
  font-size: 50px;
  color: #333;
}

.services-5 .service-box h4 a {
  font-weight: 700;
  font-size: 21px;
  text-transform: capitalize;
  transition: 0.3s;
}

.services-5 .service-box p {
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 1px;
}

.services-5 a img {
  width: 60px;
  height: 60px;
}

.services-5 .service-box:hover h4 a {
	color: #fd7e14 !important;
}
/*---------------------------------------
		Services end
---------------------------------------*/
.heading-divider .heading-seperator {
    height: 4px;
    width: 30px;
    background: #2575fc;
    border-radius: 2px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.heading-divider .heading-seperator::before {
    content: "";
    position: absolute;
    left: -27px;
    top: 0;
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #0c5adb;
    box-shadow: 9px 0 0 0 #0c5adb, 18px 0 0 0 #0c5adb;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio-5 .portfolio-item {
   margin-bottom: 30px;
}

.portfolio-box{
   overflow: hidden;
   position: relative;
   margin: 10px 0px 10px;
}

.portfolio-box:before{
   content: '';
   transform: scaleY(0);
   position: absolute;
   left: 12px;
   top: 12px;
   bottom: 12px;
   right: 12px;
   z-index: 1;
   transition: all 0.5s ease 0s;
}

.portfolio-box:hover:before{ 
   transform: scaleY(1); 
}

.portfolio-box img{
   width: 100%;
   height: auto;
   transition: all 0.5s ease 0s;
}

.portfolio-box:hover img{
   opacity: 0.7;
   transform: scale(1.1);
}

.portfolio-box .portfolio-box-content{
   text-align: center;
   width: 90%;
   filter: blur(5px);
   opacity: 0;
   transform: translateX(-50%) translateY(50%);
   position: absolute;
   font-size: 80px;
   bottom: 60%;
   left: 50%;
   padding-top: 90px;
   z-index: 2;
   transition: all 0.5s ease 0.2s;
   color: #000;
}

.portfolio-box:hover .portfolio-box-content{
   filter: blur(0);
   opacity: 1;
}

.portfolio-box .title{
   font-size: 15px;
   font-weight: 600;
   letter-spacing: 0.5px;
   text-transform: capitalize;
   margin: 5px;
   transition: all 0.5s;
   padding-top: 100px;
}

.white {
   font-weight: 600;
}

.portfolio-box .icon {
   padding: 0;
   margin: 0;
   list-style: none;
   opacity: 0;
   transform: translateX(-50%) scale(0);
   position: absolute;
   left: 50%;
   bottom: 35%;
   z-index: 1;
   transition: all 0.3s ease 0.3s;
 }

.portfolio-box:hover .icon{
   opacity: 1;
   transform: translateX(-50%) scale(1);
}

.portfolio-box .icon li{
   margin: 0 3px;
   display: inline-block;
}

.portfolio-box .icon li a{
   font-size: 25px;
   display: block;
   transition: all 0.3s ease 0s;
}

@media only screen and (max-width:990px){
   .portfolio-box{ margin: 0 0 30px; }
}


/*---------------------
  Product
-----------------------*/

#product .section-title {
    margin-bottom: 45px;
}

#product .product-item {
    margin-bottom: 55px;
}

#product .product-item:hover .product-hover li {
    opacity: 1;
    top: 0;
}

#product .product-item-pic {
    height: 330px;
    position: relative;
    overflow: hidden;
}

#product .product-hover {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 60px;
    text-align: center;
}

#product .product-hover li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 100px;
    opacity: 0;
}

#product .product-hover li:nth-child(1) {
    transition: all 0.4s ease 0.1s;
}

#product .product-hover li:nth-child(2) {
    transition: all 0.4s ease 0.15s;
}

#product .product-hover li:nth-child(3) {
    transition: all 0.4s ease 0.2s;
}

#product .product-hover li:last-child {
    margin-right: 0;
}

#product .product-hover li:hover a {
    background: #fd7e14 !important;
    color: #fff;
}

#product .product-hover li a {
    font-size: 18px;
    color: #111111;
    display: block;
    height: 45px;
    width: 45px;
    background: #ffffff;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(24,24,24,.2);
    transition: all, 0.5s;
}

#product .product-item-text {
    text-align: center;
}

#product .product-item-text h6 a {
    font-size: 18px;
    color: #111111;
}

#product .product-item-text .product-price {
    color: #e4573d;
    font-weight: 600;
}

.cta-7 {
  background-color: #262832;
  padding: 0 !important;
}

.cta-7 .cta-body{
  padding: 10px;
}
.feature-box p
{
	 font-family: "Raleway", Sans-serif;
}

.cta-7 span{
  color: #fd7e14 !important;
  font-family: "Raleway", Sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.c-white {
    color: #fff;
}



.cta-7 h3{
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: capitalize;
}

.cta-7 h2{
  color: #fff;
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 700; 
}

.ptb-70{
  padding: 70px 0 !important;
}

.cta-7 p{
  letter-spacing: 1px;
  max-width: 800px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.busi-corp {
	background-color: #fd7e14 !important;
    background-attachment: fixed;
}

.cta-7 .flex-btn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cta-7 .buco .btn {
	background-color: #fd7e14 !important;
	border-radius: 30px;
}

.cta-7 .buco .btn:hover {
	background-color: #000 !important;
}

.cta-7 .btn{
  border-radius: 8px;
  color: #fff;
  background-color: #fd7e14 !important;
  text-transform: capitalize;
  transition: all 0.5s;
}

.cta-7 .btn:hover, .cta-7 .btn{
  background-color: #A47B37;
      border-color: #fff;
}

.mb-0 {
    margin-bottom: 0!important;
}

.btn {
    border-radius: 0;
    font-size: 15px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn:hover{
  background-color: #fd7e14 !important;
  color: #fff;
}

@media screen and (max-width: 768px){
  .cta-7 .btn {
    margin-top: 15px;
  }
  .cta-7 .flex-btn{
      justify-content: flex-start;
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.our-team-sec .section-bg{
    position: relative;
    width: 100%;
}

/*.our-team-sec {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-blend-mode: overlay;
}*/

.our-team-sec .our-team{
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid rgb(0 0 0 / 10%);
}

.our-team-sec .our-team img{
    width: 100%;
    height: auto;
    transition: all 0.6s ease;
}
.our-team-sec .our-team:hover img{
    transform: scale(1.2);
} 

.our-team-sec .our-team .team-content{
    width: 100%;
    height: 100%;
    padding-top: 30%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: all 0.5s;
}

.our-team .team-content h3 a {
	color: #000;
}

.our-team .team-content span {
	color: #fff;
    text-align: center;
}

.our-team-sec .our-team:hover .team-content{ 
    transform: translateY(0); 
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    opacity: 0.8;
}

.our-team-sec .our-team .title{
    display: block;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding-top: 140px;
}

.our-team-sec .our-team .post{
    display: block;
    font-size: 17px;
}

.our-team-sec .our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}

.our-team-sec .our-team .social li{
    display: inline-block;
    margin-top: 30px;
}

.our-team-sec .our-team .social li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease 5s;
}

@media only screen and (max-width: 990px){
    .our-team-sec .our-team{
       margin-bottom: 30px; 
    }
}
/*--------------------------------------------------------------
# News & Blog
--------------------------------------------------------------*/
.blog-sec {
  position: relative;
  background: #f7f9fb;
}

.blog-sec .blog-item {
    margin-bottom: 30px;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
    transition: all 0.5s;
}

.blog-sec .blog-item:hover{
      transform: translateY(-15px);
}

.blog-sec .blog-1 .post-img {
    overflow: hidden;
    margin-bottom: -20px;
    position: relative;
}
.blog-sec .post-img {
    overflow: hidden;
}

.blog-sec .post-img img {
    width: 100%;
    transition: all 0.9s ease;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.blog-sec .blog-item:hover a.heading{
  color: #fd7e14 !important;
}

.blog-sec .post-content{
  padding: 20px 25px 25px;
}

.blog-sec .post-content h5{
  line-height: 36px;
  padding: 20px 0;
  margin-bottom: 0;
}

.blog-sec .post-content h5 a {
    line-height: 1.4;
    font-size: 22px;
    color: #1f1f1f;
    display: block;
    margin:20px 0 5px 0;
    transition: all 0.3;
}

.blog-sec .post-content h5 .heading:hover{
    color: #fd7e14 !important;
}

.blog-sec .btn-wraper .read-more-btn{
    display: block;
    width: 150px;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    border-radius: 50px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #112847;
    background-color: rgba(0,0,0,0);
    transition: all 0.5s;
    box-shadow: -1.21px 0.894px 15px 0px rgba(0,0,0,0.2);
}

.blog-sec .btn-wraper .read-more-btn:hover{
    color: #ffffff;
    background-color: #fd7e14 !important;
    border-color: #fd7e14 !important; 
}

.blog-sec .post-meta-list {
    text-align: left;
    margin: 0px 0px 20px 0px;
}

.blog-sec .post-meta-list>span:not(:last-child) {
    margin-right: 25px;
    transition: all .4s ease;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
}

.blog-sec .post-meta-list > span {
    color: #838383;
    transition: 0.3s; 
}

.blog-sec .post-meta-list > span:hover{
  color:  #fd7e14 !important;
}

.blog-sec .post-meta-list .meta-date-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    transition: 0.5s;
}

.blog-sec .post-meta-list .meta-date-text:hover{
  color: #fd7e14 !important;
}

.blog-sec .post-meta-list>span>i {
    display: inline-block;
}

.blog-sec .post-meta-list>span i {
    padding-right: 5px;
}

@media screen and (max-width: 991px){
    .navbar {
      width: 100%;
      padding: 0;
      position: absolute;
      top: 62px;
	  right:10px;
    }
}

/*==============================================
                Start Testimonials
===============================================*/

#testimonials .testimonials-content {
  padding: 50px 0 30px 0; 
}

#testimonials .testimonials-content .icon {
  font-size: 44px ! important;
}

.font1 {
  font-size: 44px;
  padding-bottom: 20px;
}

#testimonials .testimonials-content .testimonial-desc {
 margin: 20px 0 20px 0;
 width: 60%;
 margin: 40px auto;
}

#testimonials .testimonials-content .testimonial-pic {
  width: 6%;
  margin: 0 auto 30px auto;
}

#testimonials .testimonials-content .testimonial-pic img {
  max-width: 100%;
  display: block;
  border: 2px solid #999;
  border-radius: 50%;  
}

#testimonials .testimonials-content .testimonial-profile span {
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;   
}

#testimonials .testimonials-content .testimonial-profile span.name {
  font-weight: 700;   
  color: #fd7e14 !important;
}


#testimonials .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 40px;
}

#testimonials .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 10px;
    margin: 12px 7px;
}

/*==============================================
                Start Footer
===============================================*/

.footer{
  position: relative;
  background: #1E1E1E;
}

.footer .footer-about h3,
.footer .footer-links h3{
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 38px;
  text-transform: capitalize;
}

.footer .footer-about p{
  margin: 0 0 20px;
  color: #C0C1C2;
  line-height: 30px;
}

.footer .footer-about li{
  display: inline-block;
  text-align: center;
}

.footer .footer-about li i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    position: relative;
    display: block;
    margin-right: 5px;
    background-color: #24262F;
    border-radius: 50%;
    transition: all 0.5s;
}

.footer .footer-about li i:hover{
    background: #fd7e14 !important;
}

.footer .footer-links li a{
    color: #C0C1C2;
    padding-left: 0;
    margin-bottom: 16px;
    font-size: 16px;
    display: block;
    transition: all 0.5s;
}

.footer .footer-links li a:hover{
   color: #fd7e14 !important;
}

.footer .footer-links .link-list li a{
  padding-left: 8px;
}

.footer .contact-info{
  display: flex;
  position: relative;
}

.footer .contact-info .icon{
  position: relative;
  margin-right: 15px;
}

.footer .contact-info .icon i{
  position: absolute;
  top: 8px;
  font-size: 28px;
  color: #fd7e14 !important;
}

.footer .contact-info .contact-detail{
  padding-left: 40px;
}

.footer .contact-info .contact-detail p{
  font-size: 16px;
  font-weight: 400;
  color: #C0C1C2;
  margin-bottom: 5px;
}

.footer .contact-info .contact-detail h4{
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}

.footer-bottom{
  position: relative;
  background: #1e1e1e;
}

.footer-bottom .bottom-copyright{
  text-align: center !important;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 25px 0;
}

.footer-bottom .bottom-copyright p{
  margin-bottom: 0;
  color: #C0C1C2;
}

/* === 404 Error page ==== */

.page-404 {
  background: #fff;
  height: auto;
  padding: 125px 0;
}

.page-404-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.page-404-inner h1 {
  font-size: 155px;
  color: #fd7e14 !important;
}

.page-404-inner h3 {
  font-size: 55px;
  color: #1f1f1f;
}

.page-404-inner p {
  color: #1f1f1f;
  font-size: 20px;
  margin-top: 25px;
}

.page-404-inner .btn {
  margin-top: 25px;
}

.page-404-inner .btn{
  width: 200px;
  color: #fff;
  border-radius: 0;
  padding: 15px 25px;
  border: 2px solid #1f1f1f;
  transition: all 0.5s;
  background: #1f1f1f;
}

.page-404-inner .btn:hover{
  background: #fd7e14 !important;
  border: 2px solid #fd7e14 !important;
  color: #fff;
}

/*=================================
      404 Error page css End
===================================*/

@media only screen and (max-width: 525px){
  .footer .footer-about,
  .footer .footer-links{
    margin-bottom: 30px;
  }
  .services-sec .service-box {
    margin: 20px 15px 20px 35px;
  }
  .footer{
    padding-bottom: 20px !important;
  }
  .hero-sec .section-title {
    padding-top: 40px;
    font-size: 35px;
  }
  .hero-sec .section-subtitle {
    color: #fff;
    font-size: 15px;
    max-width: 500px;
}
}
 .buco-feat:hover
{
	color:#fff !important;
}
.link-boxer
{
	margin-top: 20px !important;
}

.footer .footer-widget .wp-block-group h2:after, .foot-title h4::after {
    position: absolute;
    background-color: #fd7e14;
    height: 2px;
    width: 60px;
    content: '';
    bottom: 0;
    left: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.comment-respond .form-submit input {
	background-color: #fd7e14 !important;
}

.logged-in-as a {
	color: #fd7e14 !important;
}

.sp-100 .pagination-blog .navigation .nav-links a {
	color: #fd7e14 !important;
}

.sidebar .sidebar-widget .wp-block-group .wp-block-group__inner-container h2:after {
	background-color: #fd7e14 !important;
}

.blog-detail .post-meta li a {
	color: #fd7e14 !important;
}

.blog-detail .post-meta li i {
	color: #fd7e14 !important;
}

.comment-respond .comment-reply-title::after {
	background-color: #fd7e14 !important;
}

.widget_search .wp-block-search .wp-block-search__label:after {
	background-color: #fd7e14 !important;
}

.widget_block .wp-block-search__button {
	background-color: #fd7e14 !important;
}

.sidebar-widget a:hover {
	color: #fd7e14 !important;
}

.foot-bottom a {
	color: #fd7e14 !important;
}

::-webkit-scrollbar-thumb {
	background-color: #fd7e14 !important;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #fd7e14 !important;
}


.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce input[type=submit].button, 
.woocommerce #respond input#submit, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce #respond input#submit.alt {
    display: inline-block;
    border-radius: 4px;
    line-height: 1;
    padding: 0.618em 0.778em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #ffffff !important;
    background-color: #fd7e14;
}

.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce input[type=submit].button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit:disabled[disabled]:hover, .woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button:disabled[disabled]:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover,
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #014033;
    color: #ffffff;
}

/*pagination*/
.woocommerce nav.woocommerce-pagination{
    display: flex;
    justify-content: center;
}

.woocommerce nav.woocommerce-pagination ul{
    display: inherit;
}

.woocommerce nav.woocommerce-pagination ul li{
    overflow: inherit;
}

.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li {
    border: none;
}

.woocommerce nav.woocommerce-pagination ul li a {
    cursor: pointer;
    display: inline-block;
    line-height: 12px;
    font-weight: 600;
    font-size: 1.125rem;
    border-radius: 0px;
    vertical-align: baseline;
    white-space: nowrap;
    width: 2.125rem;
    height: 2.125rem;
    border: 1px solid #d7d7d7;
    margin: 0 10px;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
}

.woocommerce nav.woocommerce-pagination ul li span {
    display: inline-block;
    line-height: 12px;
    font-weight: 600;
    font-size: 1.125rem;
    border-radius: 0px;
    vertical-align: baseline;
    white-space: nowrap;
    width: 2.125rem;
    height: 2.125rem;
    border: 1px solid #d7d7d7;
    margin: 0 5px;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current{
    color: #fff;
    background-color: #fd7e14;
}
/* end of pagination*/

.woocommerce .woocommerce-ordering select {
    border: 1px solid #333;
    color: #000;
    display: block;
    padding: 0.825rem 1rem;
}

.woocommerce table.shop_table {
    border: 1px solid #333;
    border-collapse: collapse !important;
}

.woocommerce table.shop_table th, .woocommerce table.shop_table td {
    padding: 20px 10px;
}

.woocommerce-page table.cart td.actions .coupon{
    display: grid;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    padding: 0.650rem 1rem;
    margin: 0 0 15px;
    width: 100%;
    border-radius: 0;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.woocommerce form .form-row .woocommerce-input-wrapper {
    width: 100%;
}

.woocommerce input[type="text"], 
.woocommerce input[type="tel"],
.woocommerce input[type="email"],
.woocommerce input[type="password"],
.woocommerce textarea
{
    background-color: #fff ;
    border: 1px solid #333 !important;
    color: #666 !important;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    display: block;
    padding: 0.825rem 1rem;
    width: 100%;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.woocommerce form .form-row label {
    width: 100%;
}

.woocommerce form .form-row span.select2-selection.select2-selection--single {
    border: 1px solid #333 !important;
    padding: 0.825rem 1rem;
    height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    right: 5px;
}

.woocommerce-page .checkout.woocommerce-checkout .col2-set {
    margin-bottom: 30px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
 .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #fd7e14;
    color: #fff;
}

.woocommerce-checkout-payment ul li::marker{
    color: transparent;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding: 1em 2em 1em 3.5em !important;
}

.woocommerce-MyAccount-content section,
.woocommerce-order section{
    padding: 0;
}

.woocommerce-MyAccount-content fieldset {
    margin-bottom: 1em;
}

/* widget design */
.sidebar-widget a:hover,
.sidebar-widget a:focus{
    color: #fd7e14 !important;
}

.widget_tag_cloud a:hover, .widget_tag_cloud a:focus,
.sidebar-widget .widget_shopping_cart_content .woocommerce-mini-cart__buttons a:hover,
.sidebar-widget .widget_shopping_cart_content .woocommerce-mini-cart__buttons a:focus{
    color: #fff !important;
}

.widget_product_search .woocommerce-product-search .search-field{
    border: 1px solid #ddd;
    height: 40px;
    padding: 7px;
    width: 98% !important;
}

.widget_product_search .woocommerce-product-search button[type="submit"] {
    background: #fd7e14 none repeat scroll 0 0;
    border: 1px solid #fd7e14;
    cursor: pointer;
    height: 40px;
    right: 7px;
    position: absolute;
    width: 65px;
    transition: all .3s ease-in-out;
    color: #fff;
    font-weight: 600;
}

.widget_pages li,
.widget_product_categories li, .woocommerce-widget-layered-nav li{
    padding-bottom: 15px !important;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px dashed #d7d7d7;
    text-transform: capitalize;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}

.widget_product_categories li span, .woocommerce-widget-layered-nav li span {
    float: right;
}

li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1.5em !important;
}

.widget_pages ul li.page_item_has_children ul li, 
.widget_nav_menu ul li .sub-menu li, .widget_categories ul li .children li {
    margin-top: 10px;
}

.widget_pages ul li.page_item_has_children ul li:last-child,
 .widget_categories ul li ul.children li:last-child,
  .widget_nav_menu ul li.menu-item-has-children ul li:last-child {
    border-bottom: none;
    padding-bottom: 2px;
    margin-bottom: 0px;
}

.widget_nav_menu ul li {
    padding-left: 2px;
    padding-top: 2px;
    border-bottom: 1px dashed #d7d7d7;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.widget_nav_menu .menu-item-has-children>a:after{
    content: "";
}

.woocommerce-widget-layered-nav li{
    padding-bottom: 15px;
    margin-bottom: 15px;
}

/* stripe */
#payment div.form-row{
    display: inherit;
}

.woocommerce-checkout #payment div.payment_box p:last-child {   
    display: inline-block;  
}

/* overlap content */
section.products{
    clear: both;
}

.widget_tag_cloud .wp-block-tag-cloud a:hover, .widget_tag_cloud .wp-block-tag-cloud a:focus, .widget_tag_cloud .tagcloud a:hover, .widget_tag_cloud .tagcloud a:focus
{
	background: #fd7e14;
	border-color: #fd7e14;
}