/*About theme*/
.appearance_page_elemento_it_solutions_about{
    background: #f0f0f1;
    font-family: 'Barlow', sans-serif;
}
.notice h1{
    margin-bottom: 0px !important;
}
hr{
    border-top: 1px solid #dcdcde;
    border-bottom: 1px solid #f6f7f7;
    margin: 15px 0 0px 0;
}
.top-head{
    background: #fff;
    padding: 20px 20px 40px 20px;
}
.top-title{
    float: left;
}
.top-head h2 {
    color: #1d2327;
    font-size: 24px;
    margin: 0px;
    font-weight: bold;
}
.top-right {
    float: right;
}
span.version {
    padding: 5px;
    background: #4A5568;
    color: white;
    font-size: 13px;
}

.inner-cont {
    padding-top: 20px;
    margin: 0px 20px 0 5px;
}
.tab-sec{
    width: 65%;
    float: left;
}
a.get-started-button, .iner-box-sidebar a, td.update-link, .info-link a, .col-left-pro a, a.vw-pattern-page-btn.button-primary.button, .tab button{
    padding: 2px 15px;
    font-weight: bold;
    font-size: 15px;
    background: #005ab3;
    border: none;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    line-height: 2.15384615;
    border-radius: 0px;
    cursor: pointer;
}
.tab button{
    padding: 3px 30px !important; 
    background: transparent;
    color: #1e1e1e;
    border-radius: 0;
    font-weight: normal;
}
button.tablinks:focus {
    outline: none;
}
button.tablinks.active {
    background: white;
    border: 1px solid #e2e4e7;
    border-bottom-color: transparent;
}
.tabcontent {
    display: none;
}
.open {
    display: block ;
}

.tab-outer-box {
    background: #fff;
    border: 1px solid #e0e0e0;
    margin-top: -1px;
    padding: 10px 30px;
}
#changelog_cont .tab-outer-box{
    padding: 10px 20px;
}
#changelog_cont textarea{
    border: none;
    border-radius: 0px;
    padding: 0px 0px;
}
.lite-theme-inner h3 {
    font-size: 16px;
    margin: 15px 0 0 0;
}
.first-row {
    border: 1px solid #ddd;
    margin: 15px 0;
    background: #f5f5f5;
}
.row-box {
    border-bottom: 1px solid #ddd;
    padding: 15px 8px;
    font-size: 14px;
}
.row-box1 {
    float: left;
    width: 52%;
}
.row-box span {
    margin-right: 8px;
    color: #000;
}
.row-box a {
    text-decoration: none;
}

#getting_started .tab-outer-box p{
    font-size: 15px;
}

.inner-side-content{
    float: right;
    width: 30%;
}
.inner-side-content h2{
    text-transform: uppercase;
    background: #005ab3;
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
}
.inner-side-content h3{
    font-size: 18px;
    text-transform: capitalize;
}
.iner-sidebar-pro-btn {
    margin-bottom: 20px;
}
.iner-sidebar-pro-btn span {
    margin-right: 8px;
}
img{
    width: 100%;
}
.premium-btn a, .demo-btn a, .doc-btn a{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 0px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease;
}
.premium-btn a{
    background: #0029ff;
}
.demo-btn a{
    background: #f9bd0e;
}
.doc-btn a{
    background: #ff2c6f;
}
.premium-features h3{
    text-transform: capitalize;
    background: #fff;
    padding: 15px;
}
.premium-features ul li{
    margin-bottom: 10px;
}
.premium-features ul li:before {
    content: "\f192";
    font-family: "font awesome 5 free";
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    color: #004a94;
    font-size: 18px;
    padding-right: 0.5em;
}